<!--this used on the consultation#show(modal) and the :new#message(full page with errors)-->
<%= simple_form_for ([consultation, message]) do |f| %>
  <% if message.errors.any? %>
    <div class="errors-container shell-border">
      <ul>
        <li><h6>Errors</h6></li>
        <% message.errors.full_messages.each do |m| %>
          <li><%= m %>.</li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h6> subject <span class="red-text">&#42;</span></h6>
  <%= f.input :subject, label: false, placeholder: "re:" %>
  <h6> message <span class="red-text">&#42;</span></h6>
  <%= f.input :textmess, label: false, placeholder:"299 character limit!", as: :text %>
  <div class="message-button-div flex flex-center">
    <%= f.button :submit, "send", class: "btn btn-primary no-decor btn-grad-light light-shadow" %>
  </div><!-- end of message-button-div -->
<% end %><!--end of form-->

