<h1>Messages#show</h1>
<p>Find me in app/views/messages/show.html.erb</p>
<p><%= link_to "dashboard", dashboard_path %></p>
<div class="content-grid message-show-area">
  <!-- <div class="message-show-sender-div center-div">
  </div> -->
  <div class="message-show-subject-div shell-border padding grey-shell-gradient">
    <div class="icon-div center-div">
      <% avatar_url = @message.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-md-profile-image-img icon-shell center-div" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 150px; width: 150px; border-radius: 50%; background-position: center;"></div>
    </div><!--end of icon-div-->
    <div class="center-text">
      <div>
        <h6 class=""><%= @message.created_at.strftime("%B %d %Y") %></h6>
        <h6 class=""><%= @message.created_at.strftime("%I:%M %P") %></h6>
        <div class="flex-center-center">
          <h5 class="padding-5"><b>subject:</b></h5>
          <h5 class="padding-5"><b>"<%= @message.subject %>"</b></h5>
        </div><!--end of flex-space-around-->
      </div>
    </div>
  </div><!--end of message-show-subject-div-->
  <div class="message-show-textmess-div shell-border padding yellow-shell-gradient">
    <div class="center-text">
      <h5 class=""><b>message:</b></h5>
      <p>"<%= @message.textmess %>"</p>
    </div>
    <div class="message-show-action-div padding center-text center-div"><%= link_to message_path(@message), method: :delete do %>
      <i class="fas fa-trash-alt" aria-hidden="true"></i><% end %>
    </div>
  </div><!--message-show-textmess-div-->
</div><!--end of message-area-->
