<!-- <div class="content-grid message-show-area"> -->
<div class="mw800 center-div message-show-sender-div center-div">
  <!-- </div> -->
  <div class="message-show-subject-div shell-border-no-pad grey-shell-gradient">
    <div class="flex-space-between padding">
      <div class="flex-33 center-text center-div">
      <% avatar_url = @message.user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <% if @message.user.photo.present? %>
        <div class="user-md-profile-image-img icon-shell center-div center-text" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"></div>
      <% else %>
        <div class="user-md-profile-image-img icon-shell center-div center-text user-profile-initial" style="background-color: <%= @message.user.color %>;background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-60 center-text"><%= @message.user.first_in(@message.user)%></p></div>
      <% end %>
      </div>
      <div class="flex-33">
        <h5 class=""><%= @message.consultation.consult_title %></h5>
        <h6 class=""><b><%= @message.subject %></b></h6>
        <h6 style="color: red;" class=""><%= @message.created_at.strftime("%B %d %Y") %></h6>
        <h6 style="color: red;" class=""><%= @message.created_at.strftime("%I:%M %P") %></h6>
      </div>
      <div class="flex-33 message-show-action-div center-text "><%= link_to message_path(@message), class: "charcoal-text",method: :delete do %>
        <i class="fas fa-trash-alt" aria-hidden="true"></i><% end %>
      </div>
    </div><!--end of flex-->
    <div class="message-show-textmess-div flex-column" style="background-color: white;">
      <div class="padding">
        <p><%= link_to "dashboard", dashboard_path %></p>
        <h5><b>message:</b></h5>
        <p><%= @message.textmess %></p>
      </div>
    </div><!--message-show-textmess-div-->
  </div><!--end of message-show-subject-div-->
  <!-- form here-->
</div><!--end of message-area-->
