<div class="center-div padding mw600">
  <div class="shell-sign-in wrapper">
    <div class="inline-block">

      <div class="flex-center-center">
        <div class="padding">
          <div class="flex-space-between">
            <div class="flex-50"></div>
            <div class="flex-50"></div>
          </div>
          <h1>Sign up</h1>
            <div class="form-inputs">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                <p><%= t('global.label.fname') %><span class="red-text">&#42;</span></p>
                <%= f.input :fname, label: false, error: 'first name is mandatory, please specify one', required: true, autofocus: true %>
                <p><%= t('global.label.username') %><span class="red-text">&#42;</span></p>
                <%= f.input :username, label: false, autofocus: true %>
                <p><%= t('global.label.email') %><span class="red-text">&#42;</span></p>
                <%= f.input :email, label: false, error: 'an email address is mandatory, please specify one', required: true, autofocus: true %>
                <p><%= t('global.label.city') %><span class="red-text">&#42;</span></p>
                <%= f.input :city, label: false, error: 'your city name is mandatory, please specify one', required: true, autofocus: true %>
                <p><%= t('global.label.user_native_lang') %><span class="red-text">&#42;</span></p>
                <%= f.input :user_native_lang, label: false, default: [[t('global.en'), t('global.en')]], collection: [[t('global.en'), t('global.en')], [t('global.kr'), t('global.kr')], [t('global.jp'), t('global.jp')],[t('global.sp'), t('global.sp')], [t('global.fr'), t('global.fr')], [t('global.ch'), t('global.ch')], [t('global.vt'), t('global.vt')], [t('global.rus'), t('global.rus')]], error: 'your native language is required, please specify one', required: true, autofocus: true %>
                <p><%= t('global.label.user_second_lang') %></p>
                <%= f.input :user_second_lang, label: false, default: [[t('global.en'), t('global.en')]], collection: [[t('global.en'), t('global.en')], [t('global.kr'), t('global.kr')], [t('global.jp'), t('global.jp')],[t('global.sp'), t('global.sp')], [t('global.fr'), t('global.fr')], [t('global.ch'), t('global.ch')], [t('global.vt'), t('global.vt')], [t('global.rus'), t('global.rus')]], error: 'your native language is required, please specify one', required: true, autofocus: true %>
                <p><%= t('global.label.gender') %></p>
                <%= f.input :gender, label: false, collection: [[t("global.male"),t("global.male")],[t("global.female"),t("global.female")]], error: 'your gender is mandatory, please specify one', required: true, autofocus: true %>
                <p><%= t('global.label.address') %></p>
                <%= f.input :address, label:false, autofocus: true %>
                <p><%= t('global.label.user_phone') %></p>
                <%= f.input :user_phone, label: false, error: 'mobile number', autofocus: true %>
                <p><%= t('global.label.user_kakao_id') %></p>
                <%= f.input :user_kakao_id, label: false, error: 'please enter kakao id', autofocus: true %>
                <div class="instructor-registration">
                  <p><%= t('global.label.edu') %></p>
                  <%= f.input :edu, label: false, autofocus: true  %>
                  <p><%= t('global.label.subjectmajor') %></p>
                  <%= f.input :subjectmajor, label: false, autofocus: true %>
                  <p><%= t('global.label.edulevel') %></p>
                  <%= f.input :edulevel, label: false, collection: ["associate's","bachelor's","master's","doctoral","professional"], error: 'please specify the highest education attained', autofocus: true %>
                </div>
                <div class="aboutyou">
                  <p><%= t('global.label.aboutme') %></p>
                  <%= f.input :aboutme, label: false, placeholder: "tell us about yourself!", as: :text %>
                </div>
                <div class="shell-tab-header grey-shell-gradient">
                  <%= f.input :photo, label: "Upload Avatar" %>
                  <%= f.input :photo_cache, as: :hidden %>
                </div>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>

              <%= f.button :submit, t(".sign_up"), :class => 'btn-primary' %>
            <% end %>
            <hr>
          <div class="">
            <%= link_to new_user_session_path do %>
              <button type="button" class="btn btn-secondary"> <%= t("devise.shared.links.sign_in") %></button>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
