<div class="flex-center-center">
  <div class="shell-border center-text padding">
    <%= link_to "home", root_path %>
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :fname, label: 'first name', error: 'first name is mandatory, please specify one', required: true, autofocus: true %>
        <%= f.input :lname, label: 'last name', error: 'last name is mandatory, please specify one', required: true, autofocus: true %>
        <%= f.input :gender, collection: ["male","female"], prompt: "gender", error: 'your gender is mandatory, please specify one', autofocus: true %>
        <%= f.input :email, label: 'email', error: 'an email address is mandatory, please specify one', required: true, autofocus: true %>
        <%= f.input :address, label: 'address', error: 'a physical address is mandatory, please specify one', required: true, autofocus: true %>
        <%= f.input :city, label: 'city', error: 'your city name is mandatory, please specify one', required: true, autofocus: true %>
        <%= f.input :instructor_reg, as: :radio_buttons, input_html: { class: 'toggle-instructor-form' }, collection: [['0','instructor'],['1','student']], label_method: :second, value_method: :first %>
        <div class="instructor-registration">
          <%= f.input :subjectmajor, label: 'university major', error: 'this information is mandatory', autofocus: true %>
          <%= f.input :edulevel, label: 'education', error: 'please specify the highest education attained', autofocus: true %>
        </div>
        <%= f.input :photo, label: "Upload Avatar" %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
