<%= link_to consultation_path(element) do %>
  <div class="flex-space-between flex-wrap padding-3">
    <div class="flex-33 flex-center-column">
      <% avatar_url = element.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
      <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 50px; width: 50px; border-radius: 50%; background-position: center;"></div>
      <div><h6 class="charcoal-text"><b><%= element.user.fname %></b></h6></div>
    </div>
    <div class="flex-33"><!--shell-->
      <h4 class="blue-text"><%= truncate(element.consult_title) %></h4>
      <h5 class="charcoal-text"><%= element.consult_language %></h5>
      <h5 class="charcoal-text"><%= element.consult_city %></h5>

      <h5 class="charcoal-text"><%= element.consult_env %></h5>
      <h6 class="charcoal-text"><%= element.consult_type %></h6>
      <div>
        <% if element.reviews.all.map{|x| [x.star]} == [] %>
          <% 5.to_i.times do %>
            <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
          <% end %>
        <% else %>
          <% @cons_rstars = element.reviews.all.map{|x| [x.star]} %>
          <!-- creates and array of review stars ex: [[4],[1]] -->
          <% unless @cons_rstars == [] %>
            <% @r_stars = @cons_rstars.sum %>
            <!--# ^ produces single array ex: [4,1] not sure why-->
            <% @total_rstars = @r_stars.sum %>
            <!-- # ^ SAME as above: @total_rstars = @r_stars.inject(0){|sum,x| sum + x }
            # ^^ sum of all stars ex[4 + 1] = 5 -->
            <% @total_reviews = @cons_rstars.size %>
            <!-- # total number of reviews -->
            <% @avg_star = (@total_rstars / @total_reviews) %>
          <% end %>
          <% @avg_star.to_i.times do %> <!-- @avg_star is from the controller -->
            <i class="fa fa-star yellow-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
          <% end %><!--end of r.star-->
            <% (5 - @avg_star.to_i).times do %>
            <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
          <% end %><!--end of 5-r.star-->
          <h6><%= @total_reviews %>&nbsp;<%= t('global.label.review') %></h6>
        <% end %><!--end of element.reviews.all.map -->
      </div>
    </div><!--shell-->
    <!-- :unit is built into the number_to_currency-->
    <!-- element[:consult_fee] -->
    <div class="flex-33 center-text">
      <div><h6 class="charcoal-text"><%= element.consult_period %></h6></div>
      <p class="charcoal-text"><%= number_to_currency(element[:consult_fee], :unit => "₩")%></p>
    </div>
  </div><!--end of index-element-items-->
<% end %>
<hr>

