<%= link_to consultation_path(element) do %>
  <div class="flex-space-between flex-wrap padding-3">
    <div class="flex-33 flex-center-column">
      <% element.user.first_in(element.user)%>
      <% avatar_url = element.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
      <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <% if element.user.photo.present? %>
        <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"></div>
        <div><h6 class="charcoal-text"><b><%= element.user.fname %></b></h6></div>
      <% else %>
        <div class="user-sm-profile-image-img icon-shell user-profile-initial" style="background-color: <%= element.user.color %>;background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-60 center-text"><%= element.user.first_in(element.user)%></p></div>
        <div><h6 class="charcoal-text"><b><%= element.user.fname %></b></h6></div>
      <% end %>
    </div>
    <div class="flex-33"><!--shell-->
      <h4 class="navy-text"><%= truncate(element.consult_title) %></h4>
      <h5 class="charcoal-text"><%= element.consult_language %></h5>
      <h5 class="charcoal-text"><%= element.consult_city %></h5>
      <h6 class="charcoal-text"><%= element.consult_type %></h6>
      <h6 class="charcoal-text"><%= element.consult_env %></h6>
      <div>
      <% if element.reviews.all.map{|x| [x.ravg]} == []%>
        <% 5.times do %>
          <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
        <% end -%><!-- 5.times bank stars-->
      <% else %><!--if element.reviews.all.map-->
        <% @avg_star = element.avg_star(element) %>
        <% @avg_star.to_i.times do %> <!-- @avg_star is from the controller (incorrect this calls the model)-->
          <i class="fa fa-star yellow-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
          <% end %><!--@avg_star.to_i.times do-->
        <% if @avg_star >= (@avg_star.floor + 0.5) && (@avg_star < @avg_star.floor + 1) && @avg_star.to_i != 5 %>
            <i class="fas fa-star-half-alt half-star"></i>
            <% (4 - @avg_star.to_i).times do %>
            <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
           <% end %><!--end of 4-r.star-->
        <% else %><!--if @avg_star >= -->
          <% (5 - @avg_star.to_i).times do %>
            <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
          <% end %><!--end of 5-r.star-->
        <% end %><!--if @avg_star >= -->
      <% end %><!--if/else/end element.reviews.all.map-->
      <h6><%= element.reviews.size %>&nbsp;<%= t('global.label.review') %></h6>
      </div>
    </div><!--shell-->
    <!-- :unit is built into the number_to_currency-->
    <!-- element[:consult_fee] -->
    <div class="flex-33 center-text">
      <div><h6 class="charcoal-text"><%= element.consult_period %></h6></div>
      <p class="charcoal-text"><%= number_to_currency(element[:consult_fee], :unit => "₩")%></p>
      <div>
        <% degree = element.user.set_degree(element.user) %>
        <i class="<%= degree %>" style="color: <%= element.user.color %>"></i>
        <% expert = element.user.set_expert(element.user) %>
        <i class="<%= expert %>" style="color: <%= element.user.color %>"></i>
      </div>
    </div>
  </div><!--end of index-element-items-->
<% end %>
<hr>

