<!--'element' from consultation#location is the language filtered group member -- { element: consult_add } -->
<% avatar_url = element.user.photo || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
<div class="flex-space-between">
  <div class="flex-33">
    <div class="" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover; height: 40px; width: 40px; border-radius: 50%; background-position: center;"></div>
    <h5><%= element.user.fname %> </h5>
  </div>
  <div class="flex-67">
    <h3><%= element.consult_title %></h3>
    <div>
      <% if element.reviews.all.map{|x| [x.star]} == [] %>
        <% 5.to_i.times do %>
          <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
        <% end %>
        <p class="charcoal-text">&nbsp;no reviews&nbsp;</p>
      <% else %>
        <% @avg_star.to_i.times do %> <!-- @avg_star is from the controller -->
          <i class="fa fa-star yellow-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
        <% end %><!--end of r.star-->
          <% (5 - @avg_star.to_i).times do %>
          <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
        <% end %><!--end of 5-r.star-->
        <h6><%= @total_reviews %>&nbsp;review</h6>
      <% end %>
      <p><%= element.consult_city %></p>
    </div>
    <hr>
    <ul>
      <li><p><%= element.consult_language %></p></li>
      <li></li>
      <li><p><%= element.address %></p></li>
      <li><p><%= number_to_currency(element.consult_fee, :unit => "₩") %></p></li>
    </ul>
  </div>
</div>
<%= link_to consultation_path(element), class: 'flex-center-center padding-3' do %>
<div class="btn btn-primary">
  view lessons
  </div>
<% end %>

