<!--this should be in a partial-->
<div class="grid-area new-consult-form form-text">
    <%= simple_form_for(consultation, remote: true) do |f| %>
      <% if consultation.errors.any? %>
        <div class="errors-container shell-border">
          <ul>
            <li><h6>Errors</h6></li>
            <% consultation.errors.full_consultations.each do |m| %>
              <li><%= m %>.</li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h6> class title <span class="red-text">&#42;</span></h6>
      <%= f.input :consult_title, label: false, placeholder: "class title" %>
      <h6> primary langauage <span class="red-text">&#42;</span></h6>
      <%= f.input :consult_language, label: false, default: ["English"] ,collection: ["English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese", "Russian"] %>
      <h6> secondary language (optional) :</h6>
      <%= f.input :consult_sec_lang, label: false, default: [ "none" ], collection: ["none", "English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese", "Russian"]%>
      <h6> group <span class="red-text">&#42;</span></h6>
      <%= f.input :consult_demo, label: false, default: ["everyone"], collection: ["everyone", "kindergarten", "elementary/primary", "middle school", "high school/secondary", "adult"] %>
      <h6> class type <span class="red-text">&#42;</span></h6>
      <%= f.input :consult_type, label: false, collection: ["grammar-based", "verbal-skills", "hobby-based", "trade-based", "freelance teacher", "proof reading","conversation (only)","voice call", "interview prep", "speech prep", "translation", "exam-prep", "other"], prompt: "-select type-"%>
        <h6> location <span class="red-text">&#42;</span></h6>
        <%= f.input :consult_location, label: false, placeholder: "city"%>
      <h6> term <span class="red-text">&#42;</span></h6>
      <%= f.input :consult_period, label: false, default: ["hourly"], collection: ["hourly", "single-class", "one-week", "one-month", "3 month term"]%>
      <h6> rate / term <span class="red-text">&#42;</span></h6>
      <%= f.input :consultfee, label: false, placeholder: "fee/term (whole numbers)"%>
      <h6> materials included? <span class="red-text">&#42;</span></h6>
      <%= f.input :matincluded, label: false, as: :radio_buttons, collection:[["yes","yes"], ["no","no"]], label_method: :second, value_method: :first, checked: ["no","no"]%>
      <h6> specific focus (optional) </h6>
      <%= f.input :consult_focus, label: false, placeholder: "limit 30 characters!"%>
      <div>
        <h6>200 - 2000 characters <span class="red-text">&#42;</span></h6>
        <%= f.input :consult_desc, label: false, placeholder: "class descriptions, prerequisites and recommendations", as: :text %>
        <div class="consultation-button-div flex flex-center">
        <%= f.button :submit, "create class", class: "btn btn-primary no-decor btn-grad-light light-shadow center-div center-text" %>
      </div><!-- end of consultation-button-div -->
    <% end %><!--end of form-->
  </div><!--end of consultaiton-form-div-->
</div><!--end of grid area-->
