<!--this should be in a partial-->
<h3>Consultations#new</h3>
<p>Find me in app/views/consultations/_new_consultation_form.html.erb</p>
<div class="consultaiton-form-div">
  <%= simple_form_for @consultation do |f| %>
    <%= f.input :consulttype, label: false, placeholder: "type" %>
    <%= f.input :focus, label: false, collection: ["reading", "writing", "speaking", "grammar"], prompt: "area of focus" %>
    <%= f.input :consultfee, label: false, placeholder: "consultation fee" %>
    <div class="consultation-button-div flex flex-center">
      <%= f.button :submit, "create consultation", class: "btn btn-primary no-decor btn-grad-light light-shadow" %>
    </div><!-- end of consultation-button-div -->
  <% end %><!--end of form-->
</div><!--end of consultaiton-form-div-->
