<!--this should be in a partial-->
<div class="grid-area new-consult-form mw800 center-div shell-border">
    <%= simple_form_for(consultation, remote: true) do |f| %>
      <%= f.input :consult_title, label: "Class title:", placeholder: "class title" %>
      <%= f.input :consult_language, label: "primary language:", default: ["English"] ,collection: ["English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese"]%>
      <%= f.input :consult_native_speaker, label: "native speaker?", as: :radio_buttons, collection: [['yes','yes'],['no','no']], label_method: :second, value_method: :first, checked: ['yes','yes']%>
      <%= f.input :consult_sec_lang, label: "secondary language:", default: [ "None" ], collection: ["None", "English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese"]%>
      <%= f.input :consult_demo, label:"class:", collection: ["Everyone", "Kindergarden", "Elementary", "Middle School", "High School", "Adult"] %>
      <%= f.input :consult_type, label: false, collection: ["grammar-based", "skill-based", "hobby-based", "trade-based", "conversation (only)", "exam-prep"], prompt: "-select type-"%>
      <%= f.input :consult_focus, label: false, placeholder: "specific focus (optional)"%>
      <%= f.input :consult_location, label: false, placeholder: "city"%>
      <%= f.input :consult_dur, label: "class duration:", default: ["30 minutes"], collection: ["30 minutes", "60 minutes", "90 minutes", "120 minutes", "180 minutes"]%>
      <%= f.input :consult_period, label: "contract period:", default: ["single-class"], collection: ["single-class", "one-week", "one-month", "3 month term", "6 month term"]%>
      <%= f.input :consultfee, label: "rate:", placeholder: "fee/contract (whole numbers)"%>
      <div>
      <%= f.input :matincluded, label: 'materials included?', as: :radio_buttons, collection:[["yes","yes"], ["no","no"]], label_method: :second, value_method: :first, checked: ["no","no"]%>
      <%= f.input :consult_desc, label: false, placeholder: "descriptions, prerequisites and recommendations", as: :text%>
      <div class="consultation-button-div flex flex-center">
        <%= f.button :submit, "create consultation", class: "btn btn-primary no-decor btn-grad-light light-shadow" %>
      </div><!-- end of consultation-button-div -->
    <% end %><!--end of form-->
  </div><!--end of consultaiton-form-div-->
</div>
