<!--minified version for dashboard-->
<div class="flex-space-between dash-shell-tab grey-tab-gradient">
  <div class="flex-33">
    <%= link_to user_path(element.user.id) do %>
      <% avatar_url = element.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
      <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
    </div><!--end of icon-div-->
  <% end %><!--end of userlink-->
  <div class="flex-67">
    <%= link_to appointment_path(element) do %>
      <h6 class="blue-text"><b><%= element.consultation.consult_title %></b></h6>
      <h6 class="charcoal-text"><%= element.consultation.consult_period %></h6>
      <% if element.consultation.consult_period == 'hourly'%>
        <h6 class="green-text"><%= element.lesson.lesson_start.strftime('@ %I:%M %p') %></h6>
        <h6 class="red-text"><%= element.lesson.lesson_max_dur %>&nbsp;minute max</h6>
      <% else %>
        <h6 class="green-text"><%= element.lesson.lesson_start.strftime('start %I:%M %p')%></h6>
        <h6 class="red-text"><%= element.lesson.lesson_end.strftime('end %I:%M %p')%></h6>
      <% end %><!---end of if statement-->
    <% end %><!--end link_to appointments-->
  </div><!--end of flex-item-grow-only-auto-->
</div><!--end of shell-tab-->
