<!--this is full size for the user#user_products index-->
<!--perhaps I should alternate row colors blue/white (for readability)-->
<div class="flex-space-between user-page-shell padding-3">
  <!--product data-->
  <div class="flex-25"><h5><%= truncate( element.consult_title, length: 45) %></h5></div>
  <div class="flex-25">
    <h5><%= truncate(element.consult_type) %></h5>
    <p><%= number_to_currency(element[:consult_fee], :unit => "₩")%></p>
    <p><%= element.consult_period %></p>
  </div>
  <div class="flex-25 center-text">
    <%= link_to consultation_path(element) do %>
      <i class="fas fa-lg fa-info-circle" aria-hidden="true"></i>
    <% end %>
  </div>
  <% if policy(element).destroy? %>
    <div class="flex-25 center-text">
      <%= link_to consultation_path(element), method: :delete do %>
        <i class="fas fa-lg fa-trash-alt" aria-hidden="true"></i>
      <% end %>
    </div><!-- end of trash can-->
  <% end %>
</div><!--end of flex-space-between dashboard-consults-product-items shell-border shell-tab-->

