
<% if @consultation.consult_period == 'hourly' %>
  <!--this should be in a partial-->

  <%= simple_form_for(@consultation) do |f| %>
    <%= f.input :consult_title, label: "Session title:", placeholder: "session title" %>
    <%= f.input :consult_language, label: "primary language:", default: ["English"] ,collection: ["English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese"]%>
    <%= f.input :consult_sec_lang, label: "secondary language:", default: [ "None" ], collection: ["None", "English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese"]%>
    <%= f.input :consult_demo, label:"demographic:", collection: ["everyone", "kindergarden", "elementary", "middle school", "high school", "adult"] %>
    <%= f.input :consult_type, label: false, collection: ["camp", "conversation", "education",  "exam-prep", "club", "hobby", "interview prep", "speech", "industry", "translation", "other"], prompt: "-select type-" %>
    <%= f.input :consult_env, label: false, collection: ["online - remote", "face-to-face"], prompt: "-select environment-" %>
    <h6>Online Meeting Link</h6>
    <%= f.input :consult_zoom_link, label: false, placeholder: "https://zoom.us/j/12345678" %>
    <%= f.input :consult_focus, label: "specific focus", placeholder: "specific focus (optional)"%>
    <%= f.input :consult_city, label: false, placeholder: "city"%>
    <%= f.input :address, label: false, placeholder: "address" %>
    <%= f.input :consult_period, label: "contract period:", default: ["hourly"], collection: ["hourly"]%>
    <%= f.input :consult_fee, as: :hidden, label: "fee:", placeholder: "fee (whole numbers)"%>
    <%= f.input :consult_mat, label: 'materials included?', as: :radio_buttons, collection:[["yes","yes"], ["no","no"]], label_method: :second, value_method: :first, checked: ["no","no"]%>
    <h5><b>descripton&nbsp;:</b></h5>
    <h6><span class="red-text">200 - 2000 characters &#42;</span></h6>
    <%= f.input :consult_desc, label: false, placeholder: "description", as: :text%>
    <div class="consultation-button-div flex flex-center">
      <%= f.button :submit, "update", class: "btn btn-primary no-decor btn-grad-light light-shadow" %>
    </div><!-- end of consultation-button-div -->
  <% end %><!--end of form-->

<% else %>
  <!--this should be in a partial-->

    <%= simple_form_for(@consultation) do |f| %>
      <%= f.input :consult_title, label: "Session title:", placeholder: "session title" %>
      <%= f.input :consult_language, label: "primary language:", default: ["English"] ,collection: ["English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese"]%>
      <%= f.input :consult_sec_lang, label: "secondary language:", default: [ "None" ], collection: ["None", "English", "Hangul", "Japanese", "Spanish", "French", "Chinese", "Vietnamese"]%>
      <%= f.input :consult_demo, label:"demographic:", collection: ["everyone", "kindergarden", "elementary", "middle school", "high school", "adult"] %>
      <%= f.input :consult_type, label: false, collection: ["camp", "conversation", "education",  "exam-prep", "club", "hobby", "interview prep", "speech", "industry", "translation", "other"], prompt: "-select type-" %>
      <%= f.input :consult_env, label: false, collection: ["online - remote", "face-to-face"], prompt: "-select environment-" %>
      <h6>Online Meeting Link</h6>
      <%= f.input :consult_zoom_link, label: false, placeholder: "https://zoom.us/j/12345678" %>
      <%= f.input :consult_focus, label: "specific focus", placeholder: "specific focus (optional)"%>
      <%= f.input :consult_city, label: false, placeholder: "city"%>
      <%= f.input :address, label: false, placeholder: "address" %>
      <%= f.input :consult_period, label: "contract period:", default: ["single-session"], collection: ["single-session"]%>
      <%= f.input :consult_fee, as: :hidden, label: "fee:", placeholder: "fee (whole numbers)"%>
      <%= f.input :consult_mat, label: 'materials included?', as: :radio_buttons, collection:[["yes","yes"], ["no","no"]], label_method: :second, value_method: :first, checked: ["no","no"]%>
      <h5><b>descripton&nbsp;:</b></h5>
      <h6><span class="red-text">200 - 2000 characters &#42;</span></h6>
      <%= f.input :consult_desc, label: false, placeholder: "descriptions, prerequisites and recommendations", as: :text%>
      <div class="consultation-button-div flex flex-center">
        <%= f.button :submit, "update", class: "btn btn-primary no-decor btn-grad-light light-shadow" %>
      </div><!-- end of consultation-button-div -->
  <% end %><!--end of form-->
<% end %>
