<div class="content-grid element-index-area padding">
  <div class="element-index-shell shell-border">
    <div class="flex-center-column text-center div-center green-shell-gradient-header">
      <h1 class="text-center">Directory</h1>
      <h6>find classes below!</h6>
      <h6><b><%= link_to "locations", locations_consultations_path %></b></h6>
      <h6><b><%= link_to "languages", languages_consultations_path %></b></h6>
    </div>
    <div class="flex-space-between grey-shell-gradient padding-5">
      <div class="flex-33 center-div center-text"><h6>INSTRUCTOR</h6></div>
      <div class="flex-33"><h6>INFO</h6></div>
      <div class="flex-33 center-text"><h6>RATE</h6></div>
    </div><!--end of flex-space-between-->
    <% @consultations.each do |consult| %>
      <div class="flex-space-between flex-wrap padding-5">
        <div class="flex-33 flex-center-column">
          <% avatar_url = consult.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
          <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 50px; width: 50px; border-radius: 50%; background-position: center;"></div>
          <div><h6><b><%= consult.user.fname %></b></h6></div>
        </div>
        <div class="flex-33"><!--shell-->
          <h5><b><%= consult.consult_title %></b></h5>
          <h6><%= consult.consult_language %></h6>
          <h6><%= consult.consult_location %></h6>
          <h6><%= consult.consult_period %></h6>
          <div>
            <% @avg_star.to_i.times do %>
              <i class="fa fa-star yellow-star"></i><!--reference 'components/_reviewstars.scss'-->
            <% end %><!--end of r.star-->
              <% (5 - @avg_star.to_i).times do %>
              <i class="fa fa-star grey-star"></i><!--reference 'components/_reviewstars.scss'-->
            <% end %><!--end of 5-r.star-->
          </div>
        </div><!--shell-->

        <!-- :unit is built into the number_to_currency-->
        <!-- consult[:consultfee] -->
        <div class="flex-33 center-text">
            <div><%= number_to_currency(consult[:consultfee], :unit => "₩")%></div>
            <%= link_to consultation_path(consult) do %>
            <div><h5>find a lesson</h5></div>
          <% end %>
        </div>
      </div><!--end of index-consult-items-->
      <hr>
    <% end %><!--end of @consultations.each do-->
  </div><!-- end of consultations-index-shell-->
</div><!--end of consult-index-area-->
