<div class="content-grid element-index-area">
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div><!--end of index-header-->
  <div class="element-index-panel shell-border-dark black-background">
    <%= render "shared/menu_panel" %>
  </div><!--end of index-panel-->
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <div class="navbar-esl-item">
<!--link to index_menu_partial-->
      </div>
      <%= render 'consultations/index_table_header' %>
      <% @consultations.each do |consult| %>
        <%= render 'consultations/index_data', element: consult %>
      <% end %><!--end of @consultations.each do-->
    </div><!--color:white-->
    <div class="center-text center-div">
      <div class="">
        <!-- will_pagination (below) is a div w/ class called "pagination"
          this is refernced in _paginate.scss, but can be overwritten-->
        <%= will_paginate @consultations %>
      </div>
    </div>
  </div><!-- end of consultations-index-shell-->
  <div class="element-index-base">
    <div class="flex-center-center">
      <!--PAGE SPECIFIC BASE INFO-->
    </div>
    <hr>
    <%= render "shared/app_base" %>
  </div><!--end of index-base-->
</div><!--end of consult-index-area-->
