<div class="content-grid element-index-area">
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div><!--end of index header-->
  <div class="element-index-panel shell-border-dark black-background white-text">
    <%= render "shared/menu_panel" %>
  </div><!--end of index-panel-->
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <%= render 'consultations/index_table_header' %>
      <% @consult_free_service_group.each do |clangfree_member| %>
        <% @clangfree_member = clangfree_member %>
        <% @clangfree_member_title = clangfree_member.consult_title %>
        <%= render 'consultations/index_data', element: clangfree_member %>
      <% end %><!--end of @consultations.each do-->
    </div><!--background color: white-->
    <div class="center-text center-div">
      <div class="">
        <!-- will_pagination (below) is a div w/ class called "pagination"
          this is refernced in _paginate.scss, but can be overwritten-->
        <%= will_paginate @consult_free_service_group %>
      </div>
    </div>
  </div><!--end of index-shell-->
</div><!--end of content-grid-->
