<div class="content-grid element-index-area">
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <div class="flex-center-column text-center div-center grey-shell-gradient">
        <div class="flex-center center-div center-text padding-5">
          <input class="center-text center-div" type="text"  placeholder="search">
          <div class="btn"><i class="fas fa-search"></i></div>
        </div>
      </div>
      <!-- Dropdown appearing on all devices -->
      <div class="navbar-esl-item">
        <div class="navbar-esl-3">
          <div class="home"><%= link_to consultations_path do %><i class="fa fa-home" aria-hidden="true"><% end %></i></div>
          <div class="dropdown">
            <i class="fa fa-filter dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-esl-dropdown-menu">
              <li  class="inline-list-item"><%= link_to locations_consultations_path, class: "navbar-esl-link brand-green" do %>
                <h6 class="navbar-esl-link charcoal-text">CITY</h6><% end %>
              </li>
              <li  class="inline-list-item"><%= link_to languages_consultations_path, class: "navbar-esl-link" do %>
                <h6 class="navbar-esl-link charcoal-text">LANGUAGE</h6><% end %>
              </li>
              <li  class="inline-list-item"><%= link_to types_consultations_path, class: "navbar-esl-link" do %>
                <h6 class="navbar-esl-link charcoal-text">CATEGORY</h6><% end %>
              </li>
              <li  class="inline-list-item"><%= link_to periods_consultations_path, class: "navbar-esl-link" do %>
                <h6 class="navbar-esl-link charcoal-text">PERIOD</h6><% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-space-between grey-shell-gradient padding-5">
        <div class="flex-33 center-div center-text"><h6><b>INSTRUCTOR</b></h6></div>
        <div class="flex-33"><h6><b>INFO</b></h6></div>
        <div class="flex-33 center-text"><h6><b>RATE</b></h6></div>
      </div><!--end of flex-space-between-->
      <% @consult_lang_group.each do |clmember| %>
        <% @clmember = clmember %>
        <% @clmember_title = clmember.consult_title %>
        <%= render 'consultations/index', element: clmember %>
      <% end %><!--end of @consultations.each do-->
    </div><!--background color: white-->
    <%= will_paginate @consult_lang_group %>
  </div><!-- end of consultations-index-shell-->
</div><!--end of consult-index-area-->
