<div class="content-grid element-index-area">
  <div class="element-index-header">
    <div class="flex-center-column">
      <div class="flex-center-center shell-search center-text padding-10 hidden-md hidden-lg">
        <%= render "consultations/search_form" %>
      </div><!--end of shell-search-div-->
      <h1>hi from header</h1>
    </div><!--end of flex-column-->
  </div><!--end of index-header-->
  <div class="element-index-panel dashboard-user-panel-links-shell shell-border-dark black-background white-text">
    <%= render "consultations/index_panel" %>
  </div><!--end of index-panel-->
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <!-- Dropdown appearing on all devices -->
      <div class="navbar-esl-item">
      </div>
      <%= render 'consultations/index_table_header' %>
      <% @consult_period_group.each do |clangperiod_member| %>
        <% @clangperiod_member = clangperiod_member %>
        <% @clangperiod_member_title = clangperiod_member.consult_title %>
        <%= render 'consultations/index', element: clangperiod_member %>
      <% end %><!--end of @consultations.each do-->
    </div><!--background color: white-->
    <div class="center-text center-div">
      <div class="">
        <!-- will_pagination (below) is a div w/ class called "pagination"
          this is refernced in _paginate.scss, but can be overwritten-->
        <%= will_paginate @consult_period_group %>
      </div>
    </div>
  </div><!-- end of consultations-index-shell-->
  <div class="element-index-base">
    <h1>hellow from base</h1>
  </div><!--end of index-base-->
</div><!--end of consult-index-area-->
