<div class="content-grid element-index-area">
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <!-- Dropdown appearing on all devices -->
      <div class="navbar-esl-item">
        <%= render 'consultations/index_menu' %>
      </div>
      <div class="container-fluid">
        <div class="row">
          <% @consult_city_links.each do |c_city_link| %>
            <div class="col-md-6">
              <%= link_to location_consultations_path(consult_city: c_city_link) do %>
                <div class="white-background card1 center-text">
                  <h3><%= c_city_link %></h3>
                </div><!--end white card1 center-text-->
              <% end %><!--end of link-->
            </div><!--col-md-6-->
          <% end %><!--end of cloc_link-->
        </div><!--row-->
      </div><!--container-->
      <% if @markers !=nil %>
      <div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     <% end %>
    </div>
  </div>
</div>
