<div class="content-grid element-index-area">
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div><!--end of index-header-->
  <div class="element-index-panel dashboard-user-panel-links-shell shell-border-dark black-background white-text">
    <%= render "consultations/index_panel" %>
  </div><!--end of index-panel-->
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <!-- Dropdown appearing on all devices -->
      <div class="navbar-esl-item">
      </div>
      <% if @markers !=nil %>
      <div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     <% end %>
    </div>
  </div>
  <div class="element-index-base">
    <div class="flex-center-center">
      <h1>hellow from base</h1>
    </div>
    <hr>
    <%= render "shared/app_base" %>
  </div><!--end of index-base-->
</div>
