<div class="content-grid element-index-area padding">
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <div class="flex-center-column text-center div-center green-shell-gradient-header">
        <div class="flex-center center-div center-text padding-5">
          <input class="center-text center-div" type="text"  placeholder="search">
          <div class="btn"><i class="fas fa-search"></i></div>
        </div>
      </div>
      <ul>
        <li style="display: inline-block;" class="inline-list-item"><%= link_to locations_consultations_path, class: "navbar-esl-link brand-green" do %>
          <h6 class="navbar-esl-link green-text">LOCATIONS</h6><% end %>
        </li>
        <li style="display: inline-block;" class="inline-list-item"><%= link_to languages_consultations_path, class: "navbar-esl-link" do %>
          <h6 class="navbar-esl-link green-text">LANGUAGES</h6><% end %>
        </li>
        <li style="display: inline-block;" class="inline-list-item"><%= link_to types_consultations_path, class: "navbar-esl-link" do %>
          <h6 class="navbar-esl-link green-text">CATEGORY</h6><% end %>
        </li>
        <li style="display: inline-block;" class="inline-list-item"><%= link_to periods_consultations_path, class: "navbar-esl-link" do %>
          <h6 class="navbar-esl-link green-text">PERIODS</h6><% end %>
        </li>
      </ul>
      <div class="flex-space-between grey-shell-gradient padding-5">
        <div class="flex-33 center-div center-text"><h6><b>INSTRUCTOR</b></h6></div>
        <div class="flex-33"><h6><b>INFO</b></h6></div>
        <div class="flex-33 center-text"><h6><b>RATE</b></h6></div>
      </div><!--end of flex-space-between-->
      <% @consult_period_group.each do |cpmember| %>
        <% @cpmember = cpmember %>
        <% @cpmember_title = cpmember.consult_title %>
        <%= render 'consultations/index', element: cpmember %>
      <% end %><!--end of @consultations.each do-->
    </div><!--background color: white-->
  </div><!-- end of consultations-index-shell-->
</div><!--end of consult-index-area-->
