<div class="content-grid consultation-area">
  <div class="element-cshow-head">
    <!--INSERT HEADER CONTNENT HERE!-->
  </div>
  <div class="element-cshow-inst shell-border-dark black-background white-text">
    <div class="padding-3 center-text">
      <h2><%= @consultation.user.fname %></h2>
      <h5><%= @consultation.user.username %></h5>
    </div>
    <div class="user-profile-image-div padding">
      <% avatar_url = @consultation.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <% if @consultation.user.photo.present? %>
        <div class="user-large-profile-image-img icon-shell-dark center-div center-text" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
      <% else %>
        <div class="user-large-profile-image-img icon-shell-dark center-div center-text user-profile-initial" style="background-color: <%= @consultation.user.color %>;background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-180 center-text"><%= @consultation.user.first_in(@consultation.user)%></p></div>
      <% end %>
    </div><!--end of user-profile-image-div-->
    <div class="padding-3">
      <% if user_signed_in? %>
      <div class="flex-space-between">
        <p><%= t('global.label.email') %>:</p>
        <p><%= @consultation.user.email %></p>
      </div>
      <div class="flex-space-between">
        <p><%= t('global.label.user_phone') %>:</p>
        <p><%= @consultation.user.user_phone %></p>
      </div>
      <div class="flex-space-between">
        <p><%= t('global.label.user_kakao_id') %>:</p>
        <p><%= @consultation.user.user_kakao_id %></p>
      </div>
      <div class="flex-space-between">
        <p><%= t('global.label.gender') %>:</p>
        <p><%= @consultation.user.gender %></p>
      </div>
      <div class="flex-space-between">
        <p><%= t('global.label.edulevel') %>:</p>
        <p><%= @consultation.user.edulevel %></p>
      </div>
      <div class="flex-space-between">
        <p><%= t('global.label.subjectmajor') %>:</p>
        <p><%= @consultation.user.subjectmajor %></p>
      </div>
      <% else %>
      <div><p class="red-text center-text">sign in for contact details!</p></div>
      <% end %>
      <div class="flex-column">
        <p class="center-text"><%= t('global.label.aboutme') %>:</p>
        <p class=""><%= @consultation.user.aboutme %></p>
      </div>
    </div><!--end of padding div-->
  </div><!--end of element-cshow-inst shell-border-->
  <div class="element-cshow-det">
    <div class="shell-border padding-3">
    <!--consult details partial-->
      <div><!--random-->
        <%= render 'consultations/details_consultation_show', consultation: @consultation %>
      </div><!--end of random-->
      <% unless policy(@consultation).destroy? %>
        <div class="flex-center-center padding">
          <div class="consultation-message-form-div">
            <a href="" data-toggle="modal" data-target="#create-message">
              <div class="round-div no-decor navy-background btn btn-outline white-text center-text btn-lg">
              CONTACT US
              </div>
            </a><!-- end of consult-message modal-->
          </div><!--end of consultation-message-form-div-->
        </div><!--flex-center-center padding-->
      <% end %>
      <hr>
      <!-- lessons here-->
      <% if policy(@consultation).destroy? %>
        <div class="flex-center-column consultation-lesson-form-div text-center div-center">
          <a href="" data-toggle="modal" data-target="#create-lesson">
            <div class="animated pulse animate-lesson-btn btn navy-background btn-lg white-text no-decor center-text"><%= t('global.label.create_lesson') %></div>
            <p class="">create a lesson so users can join your class!</p>
          </a>
        </div><!--end of consultation-lesson-form-div-->
      <hr>
      <% end %><!--end of policy-->
      <div class="flex-space-between black-background white-text shell-tab-header-dark">
        <div class="flex-33 center-text"><h5>SECTION</h5></div>
        <div class="flex-33"><h5><%= t('global.label.information') %></h5></div>
        <div class="flex-33 center-text"><h5>ACTION</h5></div>
      </div><!--flex-space-between-->
      <div id="lesson-min">
        <% @consultation.lessons.each do |l| %>
          <!-- below should be exported to a partial-->
          <%= render 'lessons/index_lesson_show', element: l %>
          <div class="modal fade lesson-mod-style" id="lesson-form-<%= l.id %>">
            <div class="modal-dialog" role="document"><!--aligns the modal document-->
              <div class="modal-content">
                <div class="modal-header modal-head-grad flex flex-center-center grey-shell-gradient">
                  <h3 class="lesson-modal-header">Book Section:&nbsp;<%= l.lesson_section %> </h3>
                </div><!--end of header-->
                <div class="modal-body flex flex-center-center">
                  <%= render "appointments/new_less_appointment_form", lesson: l, appointment: @appointment %>
                </div><!--end of modal-body-->
              </div><!--end of modal-content-->
            </div><!--end of modal-dialog-->
          </div><!--end of modal-->
        <% end %><!--end consultation.lessons.each-->
      </div><!--end lesson-min-->
    </div><!--end of shell-border-->
  </div><!--end of element-cshow-det-->

  <!--end of consult parital-->
  <div class="element-cshow-revs">
    <div class="shell-tab">
      <div class="flex-center-center center-div brand-ice-background">
        <h1 class="white-text"><%= t('global.label.review') %></h1>
      </div><!--end of flex-center-center center-div-->
      <div id="review-min">
        <% @consultation.reviews.each do |r| %>
          <%= link_to review_path(r) do %>
            <div class="shell-tab-header">
              <%= render 'reviews/show_ext_reviews', element: r %>
            </div>
          <% end %><!--end of link-->
        <% end %><!--end of consult.review.each-->
      </div><!--end of shell-tab-->
      <% unless @consultation.user == current_user %>
        <div class="consultation-review-form-div center-text padding">
          <a href="" data-toggle="modal" data-target="#create-review">
            <div class="round-div no-decor navy-background btn btn-outline white-text center-text btn-lg">
            PUBLISH REVIEW
            </div>
          </a><!-- end of modal link-->
        </div><!--end of consultation-review-form-div-->
      <% end %>
    </div><!--id="review-min"-->
  </div><!--end of consultation-show-review-shell-->
  <div class="element-cshow-base">
    <div class="flex-center-center">
      <!-- INSERT BASE CONTENT HERE!-->
    </div>
    <hr>
    <%= render "shared/app_base" %>
  </div>
</div> <!--end content-grid consultation-area-->
<!--modals below-->

<!--begin modal of edit create partial-->
<div class="modal fade edit-mod-style" id="edit-consult">
  <div class="modal-dialog" role="document"><!--aligns the modal document-->
    <div class="modal-content">
      <div class="modal-header modal-head-grad flex flex-center-center grey-shell-gradient">
        <h3 class="create-edit-modal-header">edit consultation(k)</h3>
      </div><!--end of header-->
      <div class="modal-body">
        <%= render template: "consultations/edit", consultation: @consultation %>
      </div><!--end of modal-body and edit-show-form-div-->
    </div><!--end of modal-content-->
  </div><!--end of modal-dialog-->
</div><!--end of modal-->

<!--begin modal of review create partial-->
<div class="modal fade review-mod-style" id="create-review">
  <div class="modal-dialog" role="document"><!--aligns the modal document-->
    <div class="modal-content">
      <div class="modal-header modal-head-grad flex flex-center-center ice-shell-gradient-header">
        <h3 class="create-review-modal-header">write review(k)</h3>
      </div><!--end of header-->
      <div class="modal-body flex flex-center-center">
        <%= render "reviews/new_review_form", consultation: @consultation, review: @review %>
      </div><!--end of modal-body and review-show-form-div-->
    </div><!--end of modal-content-->
  </div><!--end of modal-dialog-->
</div><!--end of modal-->

<!--begin modal of message create partial-->
<div class="modal fade message-mod-style" id="create-message">
  <div class="modal-dialog" role="document"><!--aligns the modal document-->
    <div class="modal-content">
      <div class="modal-header modal-head-grad flex flex-center-center ice-shell-gradient-header">
        <h3 class="create-message-modal-header">create inquiry(k)</h3>
      </div><!--end of header-->
      <div class="modal-body flex flex-center-center">
        <%= render "messages/new_message_form", consultation: @consultation, message: @message %>
      </div><!--end of modal-body and message-show-form-div-->
    </div><!--end of modal-content-->
  </div><!--end of modal-dialog-->
</div><!--end of modal-->

<!--begin modal of lesson create partial-->
<div class="modal fade lesson-mod-style" id="create-lesson">
  <div class="modal-dialog" role="document"><!--aligns the modal document-->
    <div class="modal-content">
      <div class="modal-header modal-head-grad flex flex-center-center ice-shell-gradient-header">
        <h3 class="create-lesson-modal-header">create lesson(k)</h3>
      </div><!--end of header-->
      <div class="modal-body flex flex-center-center">
        <%= render "lessons/new_lesson_form", consultation: @consultation, lesson: @lesson %>
      </div><!--end of modal-body and lesson-show-form-div-->
    </div><!--end of modal-content-->
  </div><!--end of modal-dialog-->
</div><!--end of modal-->
  <!-- </div> -->
