<div class="content-grid consultation-area">
  <!-- <h1>Consultations#show</h1> -->
  <!-- <div class=""> -->
  <div class="consultation-show-instructor-shell shell-border">
    <div class="grey-shell-gradient padding-5 center-text">
        <h2><%= @consultation.user.fname %> <%= @consultation.user.lname %></h2>
      </div>
    <div class="user-profile-image-div">
      <% avatar_url = @consultation.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-large-profile-image-img shell-tab" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
    </div><!--end of user-profile-image-div-->
    <div class="padding-5">
      <div class="flex-space-between">
        <h6>Email:</h6>
        <h6><%= @consultation.user.email%></h6>
      </div>
      <div class="flex-space-between">
        <h6>Gender:</h6>
        <h6> <%= @consultation.user.gender %> </h6>
      </div>
      <div class="flex-space-between">
        <h6>Education:</h6>
        <h6><%= @consultation.user.edulevel %></h6>
      </div>
      <div class="flex-space-between">
        <h6>Major:</h6>
        <h6><%= @consultation.user.subjectmajor %></h6>
      </div>
      <div class="flex-space-between">
        <p><%= link_to "homepage", root_path %></p>
        <p><%= link_to "dashboard", dashboard_path %></p>
      </div>
    </div>
  </div><!--end of shell-border-->

  <div class="consultation-show-details-shell">
    <div class="shell-border padding-5">
      <div class="flex-center-center center-div grey-shell-gradient">
        <h2><%= @consultation.consult_title %></h2>
      </div>
      <div class= "flex-center-center center-div">
        <% @avg_star.to_i.times do %>
          <i class="fa fa-star yellow-star"></i><!--reference 'components/_reviewstars.scss'-->
        <% end %><!--end of r.star-->
          <% (5 - @avg_star.to_i).times do %>
          <i class="fa fa-star grey-star"></i><!--reference 'components/_reviewstars.scss'-->
        <% end %><!--end of 5-r.star-->
      </div><!--end of review-item-->
      <div class="flex-space-between padding">
        <h6><b>Primary Language:</b> </h6>
        <p><%= @consultation.consult_language %></p>
      </div>
      <div class="flex-space-between padding">
        <h6><b>Secondary Language:</b> </h6>
        <p><%= @consultation.consult_sec_lang %></p>
      </div>
      <div class="flex-space-between padding">
        <h6><b>Type:</b> </h6>
        <p><%= @consultation.consult_type %></p>
      </div>
      <div class="flex-space-between padding">
        <h6><b>Focus:</b></h6>
        <p><%= @consultation.consult_focus %></p>
      </div>
      <div class="flex-space-between padding">
        <h6><b>Contract Period:</b></h6>
        <p><%= @consultation.consult_period %></p>
      </div>
      <div class="flex-space-between padding">
      <!-- <p> @consultation.consultfee </p> -->
        <h6><b>Contract Rate:</b></h6>
        <p><%= number_to_currency(@consultation.consultfee, :unit => "₩") %></p>
      </div>
      <!-- :unit is built into the number_to_currency-->
      <div class="flex-center-center">
        <p><%= @consultation.consult_desc %></p>
      </div>
      <div class="consultation-lesson-form-div">
        <a href="" data-toggle="modal" data-target="#create-lesson">
          <div class="round-div no-decor">create a lesson</div>
        </a>
      </div><!--end of consultation-lesson-form-div-->
      <div class="flex-space-between shell-tab shell-border">
        <div class="flex-25"><h6><b>section</b></h6></div>
        <div class="flex-25"><h6><b>level</b></h6></div>
        <div class="flex-25"><h6><b>start/end</b></h6></div>
        <div class="flex-25 center-text"><h6><b>days</b></h6></div>
      </div>
      <% @consultation.lessons.each do |l| %>
      <a href="" data-toggle="modal" data-target="#lesson-form-<%= l.id %>">
        <div class="flex-space-between shell-tab shell-border">
          <div class="flex-25">
            <h6><%= l.lesson_section %></h6>
          </div>
          <div class="flex-25"><h6><%= l.lesson_level %></h6></div>
          <% if @consultation.consult_period == 'hourly' %>
            <div class="flex-25"><h6>hourly</h6></div>
          <% else %>
            <div class="flex-25"><h6><%= l.lesson_start.strftime('%I:%M %p')%> - <%= l.lesson_end.strftime('%I:%M %p')%></h6></div>
          <% end %>
          <div class="flex-25 center-text"> <!-- lesson days -->
            <% l.lesson_dow.each do |d| %>
              <div class="center-text"><h6><%= d %>&nbsp</h6></div>
            <% end %><!--end lesson_dow.each-->
          </div><!-- end of lesson days -->
        </div><!--end of flex-space-between shell-tab shell-border-->
      </a><!--end of appointment MODAL link-->
        <div class="modal fade lesson-mod-style" id="lesson-form-<%= l.id %>">
          <div class="modal-dialog" role="document"><!--aligns the modal document-->
            <div class="modal-content">
              <div class="modal-header modal-head-grad flex flex-center">
                <h3 class="lesson-modal-header">Booking for section: '<%= l.lesson_section %>'</h3>
              </div><!--end of header-->
              <div class="modal-body flex flex-center-center">
                <%= render "appointments/new_less_appointment_form", lesson: l, appointment: @appointment %>
              </div><!--end of modal-body-->
            </div><!--end of modal-content-->
          </div><!--end of modal-dialog-->
        </div><!--end of modal-->
      <% end %><!--end consultation.lessons.each-->
      <div class="consultation-message-form-div">
        <a href="" data-toggle="modal" data-target="#create-message">
          <div class="round-div no-decor">send message</div>
        </a>
      </div><!--end of consultation-message-form-div-->
      <div class="consultation-review-form-div">
        <a href="" data-toggle="modal" data-target="#create-review">
          <div class="round-div no-decor">review</div>
        </a>
      </div><!--end of consultation-review-form-div-->
    </div><!--end of shell-tab-->
  </div><!--end of consultation-show-details-shell-->

  <div class="consultation-show-reviews-shell">
    <div class="shell-tab">
      <div class="flex-center-center center-div grey-shell-gradient">
        <h2>Reviews</h2>
      </div><!--end of flex-center-center center-div-->
      <div id="review-min">
      <% @consultation.reviews.each do |r| %>
        <%= render 'reviews/show_min_reviews', element: r %>
      <% end %><!--end of consult.review.each-->
      </div><!--end of shell-tab-->
    </div><!--id="review-min"-->
  </div><!--end of consultation-show-review-shell-->

  <!--begin modal of review create partial-->
  <div class="modal fade review-mod-style" id="create-review">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-review-modal-header">write review</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render "reviews/new_review_form", consultation: @consultation, review: @review %>
        </div><!--end of modal-body and review-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->


  <!--begin modal of message create partial-->
  <div class="modal fade message-mod-style" id="create-message">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-message-modal-header">create message</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render "messages/new_message_form", consultation: @consultation, message: @message %>
        </div><!--end of modal-body and message-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->

  <!--begin modal of lesson create partial-->
  <div class="modal fade lesson-mod-style" id="create-lesson">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-lesson-modal-header">create lesson</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render "lessons/new_lesson_form", consultation: @consultation, lesson: @lesson %>
        </div><!--end of modal-body and lesson-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->
  <!-- </div> -->
</div> <!--end content-grid consultation-area-->
