<div class="content-grid consultation-area">
  <!-- <h1>Consultations#show</h1> -->
  <!-- <div class=""> -->
  <div class="consultation-show-instructor-shell shell-border green-shell-gradient">
    <div class="user-profile-image-div">
      <% avatar_url = @consultation.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-large-profile-image-img shell-tab" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
    </div><!--end of user-profile-image-div-->
    <div class=" center-text">
      <div class="flex-space-between">
      <h5><%= @consultation.user.fname %> <%= @consultation.user.lname %></h5>
      </div>
      <div class="flex-space-between">
      <h5>Gender:</h5>
      <h5> <%= @consultation.user.gender %> </h5>
      </div>
      <div class="flex-space-between">
      <h5>Education:</h5>
      <h5><%= @consultation.user.edulevel %></h5>
      </div>
      <div class="flex-space-between">
      <h5>Major:</h5>
      <h5><%= @consultation.user.subjectmajor %></h5>
      </div>
      <div class="flex-space-between">
      <p><%= link_to "homepage", root_path %></p>
      <p><%= link_to "dashboard", dashboard_path %></p>
      </div>
    </div>
  </div><!--end of shell-border-->

  <div class="consultation-show-details-shell shell-border grey-shell-gradient">
  <div class="shell-tab">
    <div class="flex-center-center center-div">
      <h2>Details</h2>
    </div>
    <div class="flex-space-around">
      <p>Find me in app/views/consultations/show.html.erb</p>
    </div>
    <div class="flex-space-between padding">
      <h5><b>Title:</b> </h5>
      <p><%= @consultation.consult_title %> </p>
    </div>
    <div class="flex-space-between padding">
      <h5><b>Primary Language:</b> </h5>
      <p><%= @consultation.consult_language %></p>
    </div>
    <div class="flex-space-between padding">
      <h5><b>Secondary Language:</b> </h5>
      <p><%= @consultation.consult_sec_lang %></p>
    </div>
    <div class="flex-space-between padding">
      <h5><b>Type:</b> </h5>
      <p><%= @consultation.consult_type %></p>
    </div>
    <div class="flex-space-between padding">
      <h5><b>Focus:</b></h5>
      <p><%= @consultation.consult_focus %></p>
    </div>
    <div class="flex-space-between padding">
      <h5><b>Contract Period:</b></h5>
      <p><%= @consultation.consult_period %></p>
    </div>
    <div class="flex-space-between padding">
      <h5><b>Days of Instruction:</b></h5>
      <% @consultation.consult_dow.each do |d| %>
        <%= d %>
      <% end %>
    </div>
    <div class="flex-space-between padding">
    <!-- <p> @consultation.consultfee </p> -->
      <h5><b>Contract Rate:</b></h5>
      <p><%= number_to_currency(@consultation.consultfee, :unit => "₩") %></p>
    </div>
    <!-- :unit is built into the number_to_currency-->
    <div class="flex-center-center">
      <p><%= @consultation.consult_desc %></p>
    </div>

    <div class="consultation-message-form-div">
      <a href="" data-toggle="modal" data-target="#create-message">
        <div class="round-div no-decor">send message</div>
      </a>
    </div><!--end of consultation-review-form-div-->
    <div class="appointment-show-form-div">
      <a href="" data-toggle="modal" data-target="#create-booking">
        <div class="round-div no-decor">book appointment</div>
      </a>
    </div><!--end of appointment-show-form-div-->

    <div class="consultation-review-form-div">
      <a href="" data-toggle="modal" data-target="#create-review">
        <div class="round-div no-decor">review</div>
      </a>
    </div><!--end of consultation-review-form-div-->
  </div><!--end of shell-tab-->
  </div><!--end of consultation-show-details-shell-->

  <div class="consultation-show-reviews-shell shell-border yellow-shell-gradient ">
  <div class="shell-tab">
  <div class="flex-center-center center-div">
      <h2>Reviews</h2>
    </div>
    <% @consultation.reviews.each do |r| %>
    <div class="flex-space-between ">
      <div>
        <%= r.user.fname %>
      </div>
      <div class= "review-item">
        <% r.star.to_i.times do %>
          <i class="fa fa-star yellow-star"></i><!--reference 'components/_reviewstars.scss'-->
          <% end %><!--end of r.star-->
        <% (5 - r.star.to_i).times do %>
          <i class="fa fa-star grey-star"></i><!--reference 'components/_reviewstars.scss'-->
       <% end %><!--end of 5-r.star-->
      </div><!--end of review-item-->
    <% end %>
  </div><!--end of flex-space-between-->
</div><!--end of shell-tab-->
  </div><!--end of consultation-show-review-shell-->

  <!--begin modal of appointment create partial-->
  <div class="modal fade appointment-mod-style" id="create-booking">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-appointment-modal-header">create appointment</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render "appointments/new_appointment_form", consultation: @consultation, appointment: @appointment %>
        </div><!--end of modal-body and appointment-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->


  <!--begin modal of review create partial-->
  <div class="modal fade review-mod-style" id="create-review">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-review-modal-header">write review</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render "reviews/new_review_form", consultation: @consultation, review: @review %>
        </div><!--end of modal-body and review-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->


  <!--begin modal of message create partial-->
  <div class="modal fade message-mod-style" id="create-message">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-message-modal-header">create message</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render "messages/new_message_form", consultation: @consultation, message: @message %>
        </div><!--end of modal-body and message-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->

  <!-- </div> -->
</div> <!--end content-grid consultation-area-->
