<div class="flex-space-between">
  <h5 class="flex-50">Since:</h5>
  <p class="flex-50"><%= @user.created_at%></p>
</div><!--end of prim_lang-->
<div class="flex-space-between">
  <h5 class="flex-50"><%= t('global.label.user_native_lang') %></h5>
  <p class="flex-50"><%= @user.user_native_lang %></p>
</div><!--end of prim_lang-->
<div class="flex-space-between">
  <h5 class="flex-50"><%= t('global.label.user_second_lang') %></h5>
  <p class="flex-50"><%= @user.user_second_lang %></p>
</div><!--end of sec_lang-->
<div class="flex-center-center">
  <h5 class="flex-50"><%= t('global.label.city') %></h5>
  <p class="flex-50"><%= @user.city %></p>
</div><!--end of city-div-->
<div class="flex-space-between">
  <h5 class="flex-50"><%= t('global.label.subjectmajor') %></h5>
  <p class="flex-50"><%= @user.subjectmajor %></p>
</div><!--end of major-div-->
<div class="flex-space-between">
  <h5 class="flex-50"><%= t('global.label.degree') %></h5>
  <p class="flex-50"><%= @user.degree %></p>
</div><!--end of Edu-div-->
<div class="flex-space-between">
  <h5 class="flex-50"><%= t('global.label.gender') %></h5>
  <p class="flex-50"><%= @user.gender %></p>
</div><!--end of gender-div-->
<div class="flex-space-between">
  <h5 class="flex-50"><%= t('global.label.meeting_list') %></h5>
  <p class="flex-50"><%= link_to "view complete list", user_products_user_path %></p>
</div>
<hr>
