<div class="flex-space-between">
  <h5 class="flex-50">Since:</h5>
  <p class="flex-50"><%= @user.created_at%></p>
</div><!--end of prim_lang-->
<div class="flex-space-between">
  <h5 class="flex-50">primary language:</h5>
  <p class="flex-50"><%= @user.user_native_lang %></p>
</div><!--end of prim_lang-->
<div class="flex-space-between">
  <h5 class="flex-50">second language:</h5>
  <p class="flex-50"><%= @user.user_second_lang %></p>
</div><!--end of sec_lang-->
<div class="flex-center-center">
  <h5 class="flex-50">City:</h5>
  <p class="flex-50"><%= @user.city %></p>
</div><!--end of city-div-->
<div class="flex-space-between">
  <h5 class="flex-50">University Major:</h5>
  <p class="flex-50"><%= @user.subjectmajor %></p>
</div><!--end of major-div-->
<div class="flex-space-between">
  <h5 class="flex-50">Education:</h5>
  <p class="flex-50"><%= @user.edulevel %></p>
</div><!--end of Edu-div-->
<div class="flex-space-between">
  <h5 class="flex-50">Gender:</h5>
  <p class="flex-50"><%= @user.gender %></p>
</div><!--end of gender-div-->
<div class="flex-space-between">
  <h5 class="flex-50">classes</h5>
  <p class="flex-50"><%= link_to "view complete list", user_products_user_path %></p>
</div>
<hr>
