<div class="content-grid user-show-area">
  <div class="element-ushow-header">
    <%= render "shared/app_header" %>
  </div><!--end of ushow-header-->
  <div class="element-ushow-panel shell-border-dark black-background white-text">
    <%= render "shared/menu_panel" %>
  </div><!--end of ushow-panel-->
  <div class="element-ushow-shell user-page-shell padding-5">
    <div class="user-show-name-header center-text">
      <h1 class="center-text"><%= @user.fname %></h1>
      <h5 class="center-text"><%= @user.username %></h5>
    </div><!--end of user-show-name-div-->
    <hr>
  <div class="flex">

    <div class="flex-50 user-profile-image-div">
      <div><h2 class="center-text"></h2></div>
      <% avatar_url = @user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
      <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-large-profile-image-img icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover; height: 180px; width: 180px; border-radius: 5%; background-position: center;"></div>
    </div><!--end of icon-div-->

      <div class="flex-50">
        <%= render "users/user_show_detail" %>
      </div>
  </div><!-- end of flex-space-between-->

    <div class="flex-space-between padding-10">
      <div class="flex-20"></div>
      <div class="flex-60">
      <p class=""><%= @user.aboutme %></p>
      <div class="center-text center-div">
        <a href="" data-toggle="modal" data-target="#create-pm">
          <div class="btn btn-primary round-div no-decor center-div">private message</div>
        </a>
      </div><!--end of privatemessage-show-form-div-->
      </div><!--end of 60-->
      <div class="flex-20"></div>
    </div><!--end of flex-center-->
  </div><!-- end ushow-shell-->
  <div class="element-ushow-base">
    <%= render "shared/app_base" %>
  </div><!--end of index-base-->
</div> <!--end of content-grid-->
<!--begin modal of privatemessage create partial-->
  <div class="modal fade privatemessage-mod-style" id="create-pm">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center blue-shell-gradient-header">
          <h3 class="create-privatemessage-modal-header">To:&nbsp;<%= @user.fname %></h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render "privatemessages/new_privatemessage_form", user: @user, privatemessage: @privatemessage %>
        </div><!--end of modal-body and privatemessage-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->
