<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p><%= link_to "dashboard", dashboard_path %></p>
<div class="user-show-profile-shell shell-border blue-shell-gradient mw800 center-div">
  <div class="user-show-name-header center-text">
    <h2><%= @user.fname %> <%= @user.lname %></h2>
  </div><!--end of user-show-name-div-->
  <div class="user-profile-image-div">
    <% avatar_url = @user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
    <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
    <div class="user-large-profile-image-img icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
  </div><!--end of icon-div-->
  <div class="user-show-details" style="max-width: 400px; margin: auto;">
    <div class="flex-space-between">
      <h5>City:</h5>
      <h5><%= @user.city %></h5>
    </div><!--end of city-div-->
    <div class="flex-space-between">
      <h5>University major:</h5>
      <h5><%= @user.subjectmajor %></h5>
    </div><!--end of major-div-->
    <div class="flex-space-between">
      <h5>Education:</h5>
      <h5><%= @user.edulevel %></h5>
    </div><!--end of Edu-div-->
    <div class="flex-space-between">
      <h5>Gender:</h5>
      <h5><%= @user.gender %></h5>
    </div><!--end of gender-div-->
  </div><!--end of user-show-detials-->

  <div class="privatemessage-show-form-div flex-center-center">
    <a href="" data-toggle="modal" data-target="#create-pm">
      <div class="btn btn-primary round-div no-decor center-div">private message</div>
    </a>
  </div><!--end of privatemessage-show-form-div-->
</div>

<!--begin modal of privatemessage create partial-->
  <div class="modal fade privatemessage-mod-style" id="create-pm">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center">
          <h3 class="create-privatemessage-modal-header">To: <%= @user.fname %> <%= @user.lname %> </h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center">
          <%= render "privatemessages/new_privatemessage_form", user: @user, privatemessage: @privatemessage %>
        </div><!--end of modal-body and privatemessage-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->
