<!--full size consultations-->
<div class="center-div"><h1 class="center-text">CONSULTATIONS</h1></div>
<h6><%= link_to "dashboard", dashboard_path %></h6>
<div class="content-grid element-index-area padding">
  <div class="element-index-shell shell-border">
    <div class="flex-space-between grey-shell-gradient padding-5">
      <div class="flex-33"><h6>CLIENT</h6></div>
      <div class="flex-33"><h6>INFO</h6></div>
      <div class="flex-33 center-text"><h6>VIEW</h6></div>
    </div>
    <% @user_consultations.each do |c| %>
      <% c.appointments.each do |a| %>
        <div class="flex-space-between flex-wrap padding-5">
          <div class="flex-33">
            <% avatar_url = a.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
            <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
            <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
            <h6><b><%= a.user.fname %></b></h6>
          </div><!--end of icon-->
          <div class="flex-33">
            <h6><b><%= truncate(a.consultation.consult_title, length: 40) %></b></h6>
            <% if a.consultation.consult_period == 'hourly' %>
            <!-- ^ if not consultaiton is hourly-->
            <div class="">
              <!-- hourly lesson -->
              <h6><%= a.consultation.consult_period %></h6>
              <h6><%= a.lesson.lesson_start.strftime('%m/%d @ %I:%M%p')%></h6>
              <!-- hourly classes are set by the appointment -->
            </div>
          <% else %>
            <div class="">
              <!-- class lesson -->
              <h6><%= a.consultation.consult_period %></h6>
              <h6><b>begin:</b>&nbsp<%= a.lesson.lesson_start.strftime('%I:%M %p')%></h6>
              <h6><b>end:</b>&nbsp<%= a.lesson.lesson_end.strftime('%I:%M %p')%></h6>
              <!-- classes schedules are set by lesson plans -->
            </div>
          <% end %><!--end of if else statemnt-->
          </div><!-- end of flex-item-grow-only-auto-->
          <div class="flex-33 center-text">
            <%= link_to appointment_path(a) do %>
              <i class="fas fa-info-circle" aria-hidden="true"></i><% end %>
          </div><!--end info link div-->
        </div><!--end of flex-space-between-->
        <hr>
      <% end %><!-- end of c.appointments.each-->
    <% end %><!--end of @user_consultations.each-->
  </div> <!--end of element-index-shell shell-border grey-shell-gradient-->
</div><!--end of content-grid element-index-area-->
