<div class="content-grid element-index-area padding-5">
  <div class="element-index-shell shell-border">
    <div class="center-div center-text">
      <h1 class="center-text">CLIENTS</h1>
      <h6 class="center-text"><%= link_to 'dashboard', dashboard_path %></h6>
    </div>
    <div class="flex-space-between grey-shell-gradient padding-5">
      <!--header work-->
      <div class="flex-33"><h6><b>client</b></h6></div>
      <div class="flex-33"><h6><b>details</b></h6></div>
      <div class="flex-33"><h6><b>message</b></h6></div>
    </div><!--end of flex-space-between dashboard-consults-product-items shell-border shell-tab-->

    <% @all_clients_array.each do |ca| %>
      <div class="flex-space-between user-page-shell padding-3">
        <div class="flex-33">
        <% avatar_url = ca.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
        <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
        <div class="user-large-profile-image-img icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 50px; width: 50px; border-radius: 50%; background-position: center;"></div>
        </div>
        <div class="flex-33">
          <h6><%= ca.email %></h6>
          <h6><%= ca.user_phone %></h6>
        </div>
        <div class="flex-33">
          <a href="" data-toggle="modal" data-target="#create-pm-<%= ca.id %>">
            <div class="btn btn-primary round-div no-decor center-div">message</div>
          </a>
        </div><!--end of privatemessage-show-form-div-->
      </div><!--end of flex-space-between dashboard-consults-product-items shell-border shell-tab-->
      <div class="modal fade privatemessage-mod-style" id="create-pm-<%= ca.id %>">
        <div class="modal-dialog" role="document"><!--aligns the modal document-->
          <div class="modal-content">
            <div class="modal-header modal-head-grad flex flex-center-center">
              <h3 class="create-privatemessage-modal-header">To: <%= ca.fname %> <%= ca.lname %> </h3>
            </div><!--end of header-->
            <div class="modal-body flex flex-center-center">
              <%= render "privatemessages/new_privatemessage_form", user: ca, privatemessage: @privatemessage %>
            </div><!--end of modal-body and privatemessage-show-form-div-->
          </div><!--end of modal-content-->
        </div><!--end of modal-dialog-->
      </div><!--end of modal-->
    <% end %><!--end of ca-->
  </div>
</div><!--end of user-show-profile-shell-->
