<!--full size consultations-->
<!--perhaps should alternate the columns (blue / white) for readability-->
<div class="element-index-area content-grid padding-5">
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div>
  <div class="element-index-panel shell-border-dark black-background">
    <%= render "shared/menu_panel" %>
  </div>
  <div class="element-index-shell shell-border">
    <div class="center-div center-text">
      <h1 class="center-text">APPOINTMENTS</h1>
      <h6 class="center-text"><%= link_to 'dashboard', dashboard_path %></h6>
    </div>
    <div class="flex-space-between grey-shell-gradient padding-5">
      <div class="flex-33"><h6><b>INSTRUCTOR</b></h6></div>
      <div class="flex-33"><h6><b>INFO</b></h6></div>
      <div class="flex-33 center-text"><h6><b>VIEW</b></h6></div>
    </div>
  <% @user_appointments.each do |a| %>
      <div class="flex-space-between user-page-shell padding-3">
        <div class="flex-33">
          <!--icon-->
          <% avatar_url = a.consultation.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
            <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
            <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
            <h6 class=""><b><%= a.consultation.user.fname %></b></h6>
        </div>
        <div class="flex-33">
          <!--content here-->
          <h6><b><%= truncate(a.consultation.consult_title, length: 40) %></b></h6>
          <% if a.consultation.consult_period == 'hourly - 시간당' %>
            <!-- ^ if not consultaiton is hourly-->
            <div class="">
              <!-- hourly lesson -->
              <h6><%= a.consultation.consult_period %></h6>
              <h6><%= a.lesson.lesson_start.strftime('%m/%d @ %I:%M%p')%></h6>
              <h6><%= number_to_currency(a.consultation[:consult_fee], :unit => "₩")%></h6>
              <!-- hourly classes are set by the appointment -->
            </div>
          <% else %>
            <div class="">
              <!-- class lesson -->
              <h6><%= a.consultation.consult_period %></h6>
              <h6><%= a.lesson.lesson_start.strftime('%I:%M %p')%></h6>
              <h6><%= number_to_currency(a.consultation[:consult_fee], :unit => "₩")%></h6>
              <!-- classes schedules are set by lesson plans -->
            </div>
          <% end %>
        </div>
        <div class="flex-33 center-text">
          <%= link_to appointment_path(a) do %>
            <i class="fas fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </div><!-- end of link-->
          <!--info -con here-->
      </div><!--flex-space-b-->
    <% end %><!--end of @user_appointments.each-->
  </div> <!--end of shell-border grey-shell-gradient-->
  <div class="element-index-base">
    <%= render "shared/app_base" %>
  </div>
</div><!--end of element-index-area content-grid-->
