<!--full size consultations-->
<div class="center-div"><h1 class="center-text">APPOINTMENTS</h1></div>
  <h6><%= link_to "dashboard", dashboard_path %></h6>
<div class="element-index-area content-grid">
  <div class="element-index-shell shell-border padding">
    <div class="flex-space-between padding grey-shell-gradient">
      <div class="flex-item-no-grow-shrink-30"><h6>INSTRUCTOR</h6></div>
      <div class="flex-item-grow-only-auto"><h6>INFO</h6></div>
      <div class="flex-item-no-grow-shrink-30"><h6>RATE</h6></div>
      <div class=""><h6>VIEW</h6></div>
    </div>
  <% @user_appointments.each do |a| %>
      <div class="flex-space-between">
        <div class="flex-item-no-grow-shrink-30 padding">
          <!--icon-->
          <% avatar_url = a.consultation.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
            <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
            <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
            <h6><b><%= a.consultation.user.fname %></b></h6>
        </div>
        <div class="flex-item-grow-only-auto">
          <!--content here-->
          <h6><b><%= truncate(a.consultation.consult_title, length: 40) %></b></h6>
          <% if a.consultation.consult_period == 'hourly' %>
            <!-- ^ if not consultaiton is hourly-->
            <div class="">
              <!-- hourly lesson -->
              <h6><%= a.consultation.consult_period %></h6>
              <h6><%= a.start.strftime('%m/%d @ %I:%M%p')%></h6>
              <!-- hourly classes are set by the appointment -->
            </div>
          <% else %>
            <div class="">
              <!-- class lesson -->
              <h6><%= a.consultation.consult_period %></h6>
              <h6><%= a.lesson.lesson_start.strftime('%I:%M %p')%></h6>
              <!-- classes schedules are set by lesson plans -->
            </div>
          <% end %>
        </div>
        <div class="flex-item-no-grow-shrink-30">
          <h6><%= number_to_currency(a.consultation[:consultfee], :unit => "₩")%></h6>
        </div>
        <div class="padding">
          <%= link_to appointment_path(a) do %>
            <i class="fas fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </div><!-- end of link-->
          <!--info -con here-->
      </div><!--flex-space-b-->
      <hr>
    <% end %><!--end of @user_appointments.each-->
  </div> <!--end of shell-border grey-shell-gradient-->
</div><!--end of element-index-area content-grid-->
