<!--private message index from dashboard link -->
<div class="content-grid element-index-area padding-5">
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div>
  <div class="element-index-panel shell-border-dark black-background">
    <%= render "shared/menu_panel" %>
  </div>
  <div class="element-index-shell shell-border">
    <div class="center-div center-text">
      <h1 class="center-text"><%= t('global.label.message') %></h1>
        <%= link_to dashboard_path, class: "black-text" do %>
        <div class="">
          <h5 class="navbar-esl-link"><%= t('global.menu.dash') %>&nbsp;<span><i class="fas fa-lg fa-chart-pie" aria-hidden="true"></i></span></h5>
        </div>
      <% end %>
    </div>
    <div class="flex-space-between grey-shell-gradient padding-5">
      <div class="flex-33"><h6><b>SENDER</b></h6></div>
      <div class="flex-33"><h6><b><%= t('global.label.message') %></b></h6></div>
      <div class="flex-33 center-text"><h6><b>TIME</b></h6></div>
    </div><!--end of flex-space-between-->
    <% @user_privatemessages.each do |pm| %>
      <%= link_to privatemessage_path(pm) do %>
        <div class="flex-space-between padding-3">
          <div class="flex-33">
            <!--image goes here-->
            <% pm.find_user(pm) %>
            <!-- ^ above calls privatemessage Model instance method to find PM sender with sender_id-->
            <% avatar_url = pm.find_user(pm).photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
              <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
          <% if pm.find_user(pm).photo.present? %>
            <div class="user-sm-profile-image-img icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"></div>
          <% else %>
            <div class="user-sm-profile-image-img icon-shell user-profile-initial" style="background-color: <%= pm.find_user(pm).color %>;background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-60 center-text"><%= pm.find_user(pm).first_in(pm.find_user(pm))%></p></div>
          <% end %>
            <h5 class=""><b> <%= pm.find_user(pm).fname %></b></h5>
          </div>
          <div class="flex-33">
            <h5><b><%= truncate(pm.subject, length: 25) %></b></h5>
            <h6><%= truncate(pm.pm, length: 40) %><!--limit size--></h6>
          </div>
          <div class="flex-33 center-text">
            <h6><%= pm.created_at.strftime("%m/%d") %></h6>
            <h6><%= pm.created_at.strftime("%I:%M %p") %></h6>
          </div>
        </div><!--end of user message-flex-space-between-->
        <hr>
      <% end %><!--end of pm link-->
    <% end %><!--end of @user_privatemessage-->
  </div><!-- end of user-message-list-shell shell-border grey-shell-gradient-->
  <div class="element-index-base">
    <%= render "shared/app_base" %>
  </div>
</div><!--end of content-grid-->
