<div class="center-div"><h1 class="center-text">Reviews</h1></div>
<%= link_to 'dashboard', dashboard_path %>
<div class="element-index-area content-grid">
  <div class="element-index-shell shell-border">
    <% @user_consultations.each do |c| %>
      <% c.reviews.each do |r| %>
        <div class="shell-tab">
          <div><h6><%= r.consultation.consult_title %></h6></div>
          <div class=""><h5><b><%= r.user.fname %></b></h5></div>
          <div class= "">
            <% r.star.to_i.times do %>
              <i class="fa fa-star yellow-star"></i><!--reference 'components/_reviewstars.scss'-->
            <% end %><!--end of r.star-->
            <% (5 - r.star.to_i).times do %>
              <i class="fa fa-star grey-star"></i><!--reference 'components/_reviewstars.scss'-->
            <% end %><!--end of 5-r.star-->
          </div><!--end of ""-->
          <div><h6><%= r.created_at.strftime("%m/%d/%Y @ %I:%M %p") %></h6></div>
          <div class=""><h6>"<%= r.comment %>"</h6></div>
        </div><!--end of user shell-tab-->
      <% end %><!--end of c.reviews-->
    <% end %><!--end of @user_consultations-->
  </div><!-- end of user-message-list-shell shell-border grey-shell-gradient-->
</div><!--end element-index-area content-grid-->
