<div class="center-div"><h1 class="center-text">MESSAGES</h1></div>
<%= link_to 'dashboard', dashboard_path %>
<div class="content-grid element-index-area padding">
  <div class="element-index-shell shell-border">
    <div class="flex-space-between grey-shell-gradient padding">
      <div class="flex-item-no-grow-shrink-30"><h6><b>SENDER</b></h6></div>
      <div class="flex-item-grow-only-auto"><h6><b>MESSAGE</b></h6></div>
      <div class="flex-item-no-grow-shrink-20"><h6><b>TIME/DATE</b></h6></div>
    </div><!--end of user message-flex-space-between-->
    <% @user_consultations.each do |c| %>
      <% c.messages.each do |m| %>
        <div class="flex-space-between padding">
          <div class="flex-item-no-grow-shrink-30">
            <% avatar_url = m.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
            <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
            <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
            <h6><b><%= m.user.fname %></b></h6>
          </div><!--end of icon-->
          <div class="flex-item-grow-only-auto">
            <h6><b><%= truncate(m.subject, length: 25) %></b></h6>
            <h6><%= truncate(m.textmess, length: 40) %><!--limit size--></h6>
          </div>
          <div class="flex-item-no-grow-shrink-20">
            <h6><%= m.created_at.strftime("%m/%d @ %I:%M %p") %></h6>
          </div>
        </div>

      <% end %><!--end of c.messages-->
    <% end %><!--end of @user_consultations-->
  </div><!-- end of user-message-list-shell shell-border grey-shell-gradient-->
</div><!--end of content-grid-->
