<div class="content-grid element-index-area">
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div>
  <div class="element-index-panel shell-border-dark black-background">
    <%= render "shared/menu_panel" %>
  </div>
  <div class="element-index-shell shell-border">
    <div class="center-div center-text">
      <h1 class="center-text">USER REVIEWS</h1>
    </div>
    <hr>
    <% @user_consultations.each do |c| %>
      <% c.reviews.each do |r| %>
        <%= link_to review_path(r) do %>
          <div class="flex-column user-page-shell padding-3">
            <div><h4><b><%= r.consultation.consult_title %></b></h4></div>
            <div class=""><h6 class="charcoal-text"><b><%= r.user.fname %></b></h6></div>
            <div class= "">
              <% r.star.to_i.times do %>
                <i class="fa fa-star yellow-star"></i><!--reference 'components/_reviewstars.scss'-->
              <% end %><!--end of r.star-->
              <% (5 - r.star.to_i).times do %>
                <i class="fa fa-star grey-star"></i><!--reference 'components/_reviewstars.scss'-->
              <% end %><!--end of 5-r.star-->
            </div><!--end of ""-->
            <div><h6 class="red-text"><%= r.created_at.strftime("%m/%d/%Y @ %I:%M %p") %></h6></div>
            <div><p class="charcoal-text">"&nbsp;<%= truncate(r.comment, length: 400) %><!--limit size-->&nbsp;"</p></div>
            <div><p>show entire review</p></div>
          </div>
        <% end %><!--end of review path-->
      <% end %><!--end of c.reviews-->
    <% end %><!--end of @user_consultations-->
  </div><!--end of user index-shell-->
  <div class="element-index-base">
    <%= render "shared/app_base" %>
  </div>
</div><!-- end of element-index-are -->
