<div class="33">
  <h5><%= link_to 'home', root_path, class: "black" %></h5>
  <h5><%= link_to 'directory', consultations_path, class: "black" %></h5>
  <h5><%= link_to 'language', langs_locs_consultations_path, class: "black" %>
</div>
<div class="33">
  <h5><%= link_to 'facebook', root_path, class: "black" %></h5>
  <h5><%= link_to 'instagram', root_path, class: "black" %></h5>
  <h5><%= link_to 'twitter', root_path, class: "black" %></h5>
</div>
<div class="33">
  <h5><%= link_to 'about us', root_path, class: "black" %></h5>
  <h5><%= link_to 'contact us', root_path, class: "black" %></h5>
  <h5><%= link_to 'FAQ', root_path, class: "black" %></h5>
</div>
