<div class="unordered-list white-text">
  <ul class="">
    <li class="shell-tab-header-dark charcoal-background">
      <%= link_to root_path, class: "white-text" do %>
        <h4 class="navbar-esl-link"><%= t('global.menu.home')%></h4>
      <% end %>
    </li>
    <li class="shell-tab-header-dark charcoal-background">
      <%= link_to dashboard_path, class: "white-text" do %>
        <h4 class="navbar-esl-link"><%= t('global.menu.dash') %></h4>
      <% end %>
    </li>
    <li class="shell-tab-header-dark charcoal-background">
      <%= link_to consultations_path, class: "white-text" do %>
        <h4 class="navbar-esl-link"><%= t 'global.menu.dir' %></h4>
      <% end %>
    </li>
    <li  class="shell-tab-header-dark charcoal-background left-border">
      <%= link_to langs_locs_consultations_path, class: "white-text" do %>
      <h4 class="navbar-esl-link"><%= t('global.label.loc') %></h4>
      <% end %>
    </li>
    <li class="shell-tab-header-dark charcoal-background">
      <%= link_to langs_periods_consultations_path, class: "white-text" do %>
        <h4 class="navbar-esl-link"><%= t('global.label.term') %></h4>
      <% end %>
    </li>
    <li class="shell-tab-header-dark charcoal-background">
      <%= link_to langs_types_consultations_path, class: "white-text" do %>
        <h4 class="navbar-esl-link"><%= t('global.label.type')%></h4>
      <% end %>
    </li>
    <li  class="shell-tab-header-dark charcoal-background left-border">
      <%= link_to locations_consultations_path, class: "white-text" do %>
        <h4 class="navbar-esl-link">ALL LOCATIONS</h4>
      <% end %>
    </li>
  </ul><!--end of ul -->
</div><!--end of unordered-list div-->
