<h1>Pages#dashboard: page</h1>
<h6 class=""><%= current_user.fname %></h6>
<h6 class=""><%= current_user.email %></h6>

<h6 class=""><%= link_to "new consult", new_consultation_path %></h6>
<h6 class=""><%= link_to "about me", about_path %></h6>
<h6 class=""><%= link_to "all consultations", consultations_path %></h6>
