<div class="content-grid dash-area">
  <!-- <h1>Pages#dashboard</h1> -->
  <div class="dashboard-user-panel-links-shell shell-border">
    <div class="user-profile-image-div">
      <%= image_tag "user-icon.png", class: "user-large-profile-image-img" %>
    </div><!--end of user-profile-image-div find: _usericon.scss-->
    <div class="dashboard-user-info-div">
      <h6 class=""><%= current_user.fname %></h6>
      <h6 class=""><%= current_user.email %></h6>
    </div><!--end of dashboard-user-info-div-->
      <ul class="dashboard-user-panel-links-list">
        <li><%= link_to "new consult", new_consultation_path %></li>
        <li><%= link_to "about me", about_path %></li>
        <li><%= link_to "messages", dashboard_path %></li>
        <li><%= link_to "all consultations", consultations_path %></li>
      </ul><!--end of dashboard-user-panel-links-list -->
      <%= @privatemessages.size %>
      <div>

      </div>
  </div><!--end of dashboard-user-panel-links-shell-->
  <div class="dashboard-messages-shell shell-border">
    <h4 class="dashboard-messages-header">Messages- <%= @my_messages_array.size %></h4>
    <div>
     <% @consultations.each do |c| %>
      <% c.messages.last(1).each do |m| %>
        <%= link_to message_path(m), class: "no-decor" do %>
          <div class="shell-tab">
            <h5><b><%= m.subject %></b></h5>
            <%= truncate(m.textmess, length: 35) %> <!--this limits the length of message text-->
          </div>
        <% end %><!--end of link_to message_path-->
      <% end %><!--end of c.messages.each -->
     <% end %><!--end of @consultations.each-->
    </div>
  </div><!--end of dashboard-messages-shell-->
  <div class="dashboard-consults-shell shell-border">
    <h4 class="dashboard-consults-header">Consultations - <%= @my_consultation_appointments_array.size %></h4>
    <div class="dashboard-consults-div">
      <% @consultations.each do |c| %>
        <% c.appointments.last(1).each do |a| %>
          <%= link_to appointment_path(a) do %>
            <div class="shell-tab">
              <%= image_tag "user-icon.png", class: "user-sm-profile-image-img" %> <%= a.start.strftime('%m/%d/%Y at %I:%M%p')%>
            </div>
          <% end %><!--end link_to-->
        <% end %><!--end c.appointments.each-->
      <% end %><!-- end @consultations.each-->
    </div><!--end dashboard-consults-div-->
  </div><!-- end dashboard-consults-shell-->
  <div class="dashboard-appointments-shell shell-border">
    <h4 class="dashboard-appointments-header">Appointments <%= @appointments.size %></h4>
    <div class="dashboard-appointments-div">
      <% @appointments.last(3).each do |a| %>
        <%= link_to appointment_path(a), class: "no-decor" do %>
          <div class="dashboard-user-appointments-div shell-tab">
            <%= image_tag "user-icon.png", class: "user-sm-profile-image-img" %> <%= a.start.strftime('%m/%d/%Y at %I:%M%p')%>
          </div><!-- end of dashboard-user-appointments-div-->
        <% end %><!--end of link_to-->
      <% end %><!-- end of current_user.appointments.each do -->
    </div><!--end of dashboard-appointments-div-->
  </div><!--end of dashboard-appointments-shell"-->
  <div class="dashboard-consults-product-shell shell-border">
    <h4 class="dashboard-consults-product-header">Services</h4>
    <div class="dashboard-consults-product-div">
      <% @consultations.limit(3).each do |c| %>
        <%= link_to consultation_path(c), class: "no-decor" do  %>
          <div class="dashboard-consults-product-div shell-border shell-tab">
            <%= c.consulttype %>
            <%= c.focus %>
            <%= number_to_currency(c.consultfee, unit: "₩") %>
          </div> <!-- end of dashboard-consults-product-div -->
        <% end %><!--end link_to-->
      <% end %> <!-- end of current_user.consultations.each do-->
    </div><!--end of dashboard-consults-product-div-->
  </div><!--end of dashboard-consults-product-shell-->
  <div class="dashboard-consults-reviews-shell shell-border">
    <h4>RecentReviews</h4>
    <% @consultations.each do |c| %>
      <% c.reviews.each do |r| %>
        <%= link_to review_path(r.id), class: "no-decor" do %>
          <div class="shell-tab dashboard-review-list-items">
            <div class= "review-item">
              <%= r.star %>
              <% r.star.to_i.times do %>
                <i class="fa fa-star yellow-star"></i><!--reference 'components/_reviewstars.scss'-->
                <% end %>
              <% (5 - r.star.to_i).times do %>
                <i class="fa fa-star grey-star"></i><!--reference 'components/_reviewstars.scss'-->
             <% end %>
            </div>
            <div class="review-item">
              <%= truncate( r.comment, length: 15) %>
            </div>
          </div>
        <% end %><!--end of link_to review-->
      <% end %><!--end c.review-->
    <% end %><!--end of @consultion.each-->
  </div><!--end dashboard-consults-reviews-shell-->
  <div class="dashboard-clients-list-shell shell-border">
    <h4 class="dashboard-clients-header">Clients</h4>
    <div class="dashboard-clients-div">
      <% @consultations.each do |c|%>
        <% c.appointments.last(1).each do |a| %>
          <%= link_to user_path(a.user.id), class: "no-decor" do %>
            <div class="dashboard-clients-list-div">
              <div class="shell-tab dashbaoard-client-list-items">
                <div class="client-item">
                  <%= image_tag "user-icon.png", class: "user-sm-profile-image-img" %>
                </div>
                <div class="client-item">
                  <%= a.user.fname %>
                </div>
              </div>
            </div><!--end dashboard-clients-list-div-->
          <% end %><!--end of link_to user_path-->
        <% end  %><!--end c.appointments-->
      <% end %><!--end current_user.consultations.last-->
    </div><!--end of dashboard-clients-div-->
  </div><!--dashboard-clients-list-shell-->
</div><!--end of grid div-->
