<div class="content-grid dash-area">
  <!-- <h1>Pages#dashboard</h1> -->
  <div class="dashboard-user-panel-links-shell">
    <div class="user-profile-image-div">
      <%= image_tag "user-icon.png", class: "user-large-profile-image-img" %>
    </div><!--end of user-profile-image-div find: _usericon.scss-->
    <div class="dashboard-user-info-div">
      <h6 class=""><%= current_user.fname %></h6>
      <h6 class=""><%= current_user.email %></h6>
    </div><!--end of dashboard-user-info-div-->
      <ul class="dashboard-user-panel-links-list">
        <li><%= link_to "new consult", new_consultation_path %></li>
        <li><%= link_to "about me", about_path %></li>
        <li><%= link_to "messages", dashboard_path %></li>
        <li><%= link_to "all consultations", consultations_path %></li>
      </ul><!--end of dashboard-user-panel-links-list -->
  </div><!--end of dashboard-user-panel-links-shell-->
  <div class="dashboard-messages-shell">
    <h4 class="dashboard-messages-header">Messages</h4>
    <div>
     <% @consultations.each do |c| %>
        <% c.messages.each do |m| %>
        <%= link_to message_path(m), class: "no-decor" do %>
          <div>
            <h6><b><%= m.subject %></b></h6>
            <%= truncate(m.textmess, length: 35) %> <!--this limits the length of message text-->
          </div>
        <% end %>
      <% end %>
     <% end %>
    </div>
  </div><!--end of dashboard-messages-shell-->
  <div class="dashboard-consults-shell">
    <h4 class="dashboard-consults-header">Consultations</h4>
    <div class="dashboard-consults-div">
      <% @consultations.last(3).each do |c| %>
        <% c.appointments.each do |a| %>
          <%= link_to appointment_path(a) do %>
            <p><%= image_tag "user-icon.png", class: "user-sm-profile-image-img" %> <%= a.start.strftime('%m/%d/%Y at %I:%M%p')%> </p>
          <% end %><!--end link_to-->
        <% end %><!--end c.appointments.each-->
      <% end %><!-- end @consultations.each-->
    </div><!--end dashboard-consults-div-->
  </div><!-- end dashboard-consults-shell-->
  <div class="dashboard-appointments-shell">
    <h4 class="dashboard-appointments-header">Appointments</h4>
      <div class="dashboard-appointments-div">
        <% @appointments.last(3).each do |a| %>
          <%= link_to appointment_path(a), class: "no-decor" do %>
            <div class="dashboard-user-appointments-div">
              <p><%= image_tag "user-icon.png", class: "user-sm-profile-image-img" %> <%= a.start.strftime('%m/%d/%Y at %I:%M%p')%> </p>
            </div><!-- end of dashboard-user-appointments-div-->
          <% end %><!--end of link_to-->
        <% end %><!-- end of current_user.appointments.each do -->
      </div><!--end of dashboard-appointments-div-->
  </div><!--end of dashboard-appointments-shell"-->
  <div class="dashboard-consults-product-shell">
    <h4 class="dashboard-consults-product-header">Services</h4>
    <div class="dashboard-consults-product-div">
      <% @consultations.last(3).each do |c| %>
        <%= link_to consultation_path(c), class: "no-decor" do  %>
          <div class="dashboard-consults-product-div">
            <%= c.consulttype %>
            <%= c.focus %>
            <%= number_to_currency(c.consultfee, unit: "₩") %>
          </div> <!-- end of dashboard-consults-product-div -->
        <% end %><!--end link_to-->
      <% end %> <!-- end of current_user.consultations.each do-->
    </div><!--end of dashboard-consults-product-div-->
  </div><!--end of dashboard-consults-product-shell-->
  <div class="dashboard-consults-reviews-shell">
    <h4>RecentReviews</h4>
  </div><!--end dashboard-consults-reviews-shell-->
  <div class="dashboard-clients-list-shell">
    <h4 class="dashboard-clients-header">Clients</h4>
    <div class="dashboard-clients-div">
      <% @consultations.last(3).each do |c|%>
        <% c.appointments.each do |a| %>
          <%= link_to user_path(a.user.id), class: "no-decor" do %>
            <div class="dashboard-clients-list-div">
              <p><%= image_tag "user-icon.png", class: "user-sm-profile-image-img" %> </p>
              <p> <%= a.user.fname %> </p>
            </div><!--end dashboard-clients-list-div-->
          <% end %>
        <% end  %><!--end appointments-->
      <% end %><!--end current_user.consultations-->
    </div><!--end of dashboard-clients-div-->
  </div><!--dashboard-clients-list-shell-->
</div><!--end of grid div-->
