<div class="content-grid dash-area">
  <!-- <h1>Pages#dashboard</h1> -->
  <div class="dashboard-user-panel-links-shell shell-border">
    <div class="grey-shell-gradient padding-5 center-text">
      <h5>welcome,</h5>
      <h2><%= current_user.fname %></h2>
      <h6 class=""><%= current_user.email %></h6>
      <h6 class="">Kakao:&nbsp;<%= current_user.user_kakao_id %></h6>
      <div>
        <%= link_to edit_user_registration_path(current_user) do %>
          <i class="fas fa-edit" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <div class="user-profile-image-div">
      <!--added -->
      <!-- for face detection -->
      <div class="icon-div">
        <% avatar_url = @current_user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
        <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
        <div class="user-large-profile-image-img icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
      </div><!--end of icon-div-->
      <!--added -->
    </div><!--end of user-profile-image-div find: _usericon.scss-->
    <div class="unordered-list">
      <ul class="dashboard-user-panel-links-list">
        <li class="shell-tab-header">
          <div class="header-items">
          <!-- <i class="far fa-envelope fa-3x"></i> -->
          <%= link_to user_privatemessages_user_path(current_user.id) do %>
            <h5><b>Private Messages</b></h5>
          <% end %>
          <div class="counter"><%= @privatemessages.size %></div>
          </div>
        </li>
        <li class="shell-tab-header left-border animated pulse animate-class-btn">
          <a href="" data-toggle="modal" data-target="#create-new-consultation-class">
              <div class="header-items round-div no-decor"><h5><b>Create a Class</b></h5></div>
          </a>
        </li>
        <li class="shell-tab-header">
          <div class=""><h6><b><%= link_to "find classes", consultations_path %></b></h6></div>
        </li>
        <li class="shell-tab-header"><h6><b><%= link_to "about me", about_path %></b></h6></li>
        <li class="shell-tab-header"><h6><b><%= link_to "locations", locations_consultations_path %></b></h6></li>
      </ul><!--end of dashboard-user-panel-links-list -->
    </div><!--end of unordered-list-->
  </div><!--end of dashboard-user-panel-links-shell-->
  <div class="dashboard-messages-shell shell-border grey-shell-gradient padding-5">
    <div class="dashboard-message header-items">
      <%= link_to user_messages_user_path(current_user.id) do %>
        <div class="message-header-item">
          <h4 class="dashboard-messages-header">Class Messages</h4>
        </div>
      <% end %>
      <div class="message-header-item counter"><%= @my_messages_id_array.size %></div>
    </div><!--end of dashboard-message header-items-->

      <% @my_messages_array.sort{|x,y| y <=> x}.take(3).each do |m| %>
      <!-- each consultations messages-->
        <%= link_to message_path(m), class: "no-decor" do %>
        <!-- each message-->
          <div class="flex-space-between dash-shell-tab">
            <%= render 'messages/show_min_messages', element: m %>
          </div><!--end of flexbox shell-tab-->
        <% end %><!--end of link_to message_path-->
      <% end %><!--end of c.messages.each -->

  </div><!--end of dashboard-messages-shell-->
  <div class="dashboard-consults-shell shell-border grey-shell-gradient">
    <div class="dashboard-consult header-items">
      <!---->
      <%= link_to user_consultations_user_path(current_user.id) do %>
        <div class="consult-header-item"><h4 class="dashboard-consults-header">Consultations</h4></div>
      <% end %>
      <div class="consult-header-item counter"><%= @my_cons_appointments_array.size %></div>
    </div><!--end of dashboard-consult header-items-->
    <div class="dashboard-consults-div">
      <% @my_consult_array.sort{|x,y| y <=> x}.take(3).each do |a| %>
      <!-- @my_consult_array_desc from controller-->
      <!-- ^c.appointment => each consult has appointments-->
      <!-- ^^ pushes each consultation appointment into an array and reverses the order-->
        <%= render 'consultations/show_min_consultations', element: a %>
      <% end %><!-- end of @my_consult_array_desc-->
    </div><!--end dashboard-consults-div-->
  </div><!-- end dashboard-consults-shell-->
  <div class="dashboard-appointments-shell shell-border grey-shell-gradient">
    <div class="dashboard-appointment header-items">
      <%= link_to user_appointments_user_path(current_user.id) do %>
      <div class="appointment-header-item"><h4 class="dashboard-appointments-header">Appointments</h4></div>
      <% end %>
      <div class="appointment-header-item counter"><%= @appointments.size %></div>
    </div><!--dashboard-appointment header-items-->
    <div class="dashboard-appointments-div">
      <% @appointments.sort{|x,y| y <=> x}.take(3).each do |a| %>
        <%= render 'appointments/show_min_appointments', element: a %>
      <% end %><!-- end of current_user.appointments.each do -->
    </div><!--end of dashboard-appointments-div-->
  </div><!--end of dashboard-appointments-shell"-->
  <div class="dashboard-consults-product-shell shell-border grey-shell-gradient">
    <div class="dashboard-product header-items">
      <%= link_to user_products_user_path(current_user.id) do %>
        <div class="product-header-item"><h4 class="dashboard-consults-product-header">Class List</h4></div>
      <% end %>
      <div class="product-header-item counter"><%= @consultations.size %></div>
    </div><!--end of dashboard-product header-items-->
    <div>
      <div id="products" class="dashboard-consults-product-div">
        <% @consultations.limit(3).each do |consultation| %>
          <%= render 'consultations/show_min_products', element: consultation %> <!--c(generic local used in partial) : |consultation|-->
        <% end %><!-- end of current_user.consultations.each do-->
      </div><!-- end of dashboard-consults-product-div -->
    </div>
  </div><!--end of dashboard-consults-product-shell-->
  <div class="dashboard-consults-reviews-shell shell-border grey-shell-gradient">
    <div class="dashboard-review header-items">
      <%= link_to user_reviews_user_path(current_user.id) do %>
        <div class="review-item"><h4>Recent Reviews</h4></div>
      <% end %><!--end of user_review_path-->
      <div class="review-item counter"><%= @my_reviews_array.size %></div>
    </div><!--end of dashboard-review header-items-->
    <% @consultations.each do |c| %>
      <% c.reviews.sort{|x,y| y <=> x}.take(3).each do |r| %>
      <!--new changes that should be tested-->
        <%= link_to review_path(r.id), class: "no-decor" do %>
          <div class="flex-space-between dash-shell-tab">
            <%= render 'reviews/show_min_reviews', element: r %>
          </div><!--flex-space-between shell-tab-->
        <% end %><!--end of link_to review-->
      <% end %><!--end c.review-->
    <% end %><!--end of @consultion.each-->
  </div><!--end dashboard-consults-reviews-shell-->
  <div class="dashboard-clients-list-shell shell-border grey-shell-gradient">
    <div class="dashboard-client header-items">
      <%= link_to user_clients_user_path(current_user.id) do %>
        <div class="client-item"><h4 class="dashboard-clients-header">Clients</h4></div>
      <% end %>
      <div class="client-item counter"><%= @my_clients_array.size %></div>
    </div><!--dashboard-client header-items-->
      <div class="dashboard-clients-div">
        <% @all_clients_array.each do |client| %> <!-- @my_client_array in pages#dashboard-->
          <%= link_to user_path(client) do %>
            <div class="dash-shell-tab flex-space-between dashbaoard-client-list-items grey-tab-gradient">
              <div class="flex-33">
              <% avatar_url = client.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon_arl6kj.png" %>
              <div class="user-sm-profile-image-img icon-shell icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
              </div><!--end of client-item-->
              <div class="flex-67 center-text"><h6><%= client.fname %></h6></div>
            </div><!--end of client-item-->
          <% end %>
        <% end %><!--end of @my_clients_array.each-->
      </div><!--end of shell-tab flex-space-between dashbaoard-client-list-items-->
    </div><!--end of dashboard-clients-div-->
  </div><!--dashboard-clients-list-shell-->
</div><!--end of grid div-->
<hr>
<!--modals below-->
  <div class="modal fade appointment-mod-style" id="create-new-consultation-class">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center green-shell-gradient-header">
          <h3 class="create-appointment-modal-header text-center">Create New Class</h3>
        </div><!--end of header-->
        <div class="modal-body">
          <%= render "consultations/new_consultation_class_form", consultation: @consultation %>
        </div><!--end of modal-body and appointment-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->
