<div class="content-grid dash-area">
  <!-- <h1>Pages#dashboard</h1> -->
  <div class="dashboard-user-panel-links-shell shell-border-dark navy-background white-text">
    <div class="padding-3 center-text">
      <h5>welcome,</h5>
      <h2><%= current_user.fname %></h2>
      <h6 class=""><%= current_user.email %></h6>
      <h6 class="">Kakao:&nbsp;<%= current_user.user_kakao_id %></h6>
      <div>
        <%= link_to edit_user_registration_path(current_user), class: "white-text" do %>
          <i class="fas fa-edit" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <div class="user-profile-image-div">
      <!--added -->
      <!-- for face detection -->
      <div class="icon-div">
        <% avatar_url = @current_user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
        <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
        <div class="user-large-profile-image-img icon-shell-dark" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
      </div><!--end of icon-div-->
      <!--added -->
    </div><!--end of user-profile-image-div find: _usericon.scss-->
    <div class="unordered-list">
      <ul class="dashboard-user-panel-links-list">
        <li class="shell-tab-header-dark blue-background">
          <%= link_to user_privatemessages_user_path(current_user.id), class: "white-text" do %>
            <div class="flex-space-between">
              <h6 class="flex-67">Private Messages</h6>
            <div class="flex-33 white-text"><div class="counter"><%= @privatemessages.size %></div></div>
            </div>
          <% end %>
        </li>
        <li class="shell-tab-header-dark blue-background left-border animated pulse animate-class-btn">
          <a href="" data-toggle="modal" data-target="#create-new-consultation-class">
              <div class="round-div no-decor"><h6 class="green-text">Create Class</h6></div>
          </a>
        </li>
        <li class="shell-tab-header-dark blue-background">
          <%= link_to consultations_path, class: "white-text" do %>
            <h6 class="">find a class</h6>
          <% end %>
        </li>
        <li class="shell-tab-header-dark blue-background">
          <%= link_to edit_user_registration_path(current_user.id), class: "white-text" do %>
            <h6 class="">edit profile</h6>
            <!-- change to 'edit profile' -->
          <% end %>
        </li>
      </ul><!--end of dashboard-user-panel-links-list -->
    </div><!--end of unordered-list-->
    <div class="calendar-div shell-tab-header-dark charcoal-text">
      <!-- https://github.com/excid3/simple_calendar -->
      <%= week_calendar number_of_weeks: 1 do |d| %>
        <%= d.day %>
      <% end %>
    </div>
  </div><!--end of dashboard-user-panel-links-shell-->
  <div class="dashboard-messages-shell shell-border grey-shell-gradient padding-3">
    <div class="flex-center-center">
      <%= link_to user_messages_user_path(current_user.id) do %>
        <div class="flex-67"><h5 class="charcoal-text">Class Messages</h5></div>
      <% end %>
      <div class="flex-33 center-text"><h6><%= @my_messages_id_array.size %></h6></div>
    </div><!--end of dashboard-message header-items-->
      <% @my_messages_array.sort{|x,y| y <=> x}.take(3).each do |m| %>
      <!-- each consultations messages-->
        <%= link_to message_path(m), class: "no-decor" do %>
        <!-- each message-->
          <div class="flex-space-between dash-shell-tab">
            <%= render 'messages/show_min_messages', element: m %>
          </div><!--end of flexbox shell-tab-->
        <% end %><!--end of link_to message_path-->
      <% end %><!--end of c.messages.each -->
  </div><!--end of dashboard-messages-shell-->
  <div class="dashboard-consults-shell shell-border grey-shell-gradient">
    <div class="flex-center-center">
      <%= link_to user_consultations_user_path(current_user.id) do %>
        <div class="flex-67"><h5 class="charcoal-text">HOSTED SESSIONS</h5></div>
      <% end %>
      <div class="flex-33 center-text"><h6><%= @my_cons_appointments_array.size %></h6></div>
    </div><!--end of dashboard-consult header-items-->
    <div class="dashboard-consults-div">
      <% @my_consult_array.sort{|x,y| y <=> x}.take(3).each do |a| %>
      <!-- @my_consult_array_desc from controller-->
      <!-- ^c.appointment => each consult has appointments-->
      <!-- ^^ pushes each consultation appointment into an array and reverses the order-->
        <%= render 'consultations/show_min_consultations', element: a %>
      <% end %><!-- end of @my_consult_array_desc-->
    </div><!--end dashboard-consults-div-->
  </div><!-- end dashboard-consults-shell-->
  <div class="dashboard-appointments-shell shell-border grey-shell-gradient">
    <div class="flex-center-center">
      <%= link_to user_appointments_user_path(current_user.id) do %>
      <div class="flex-67"><h5 class="charcoal-text">SESSION ATTENDEE</h5></div>
      <% end %>
      <div class="flex-33 center-text"><h6><%= @appointments.size %></h6></div>
    </div><!--dashboard-appointment header-items-->
    <div class="dashboard-appointments-div">
      <% @appointments.sort{|x,y| y <=> x}.take(3).each do |a| %>
        <%= render 'appointments/show_min_appointments', element: a %>
      <% end %><!-- end of current_user.appointments.each do -->
    </div><!--end of dashboard-appointments-div-->
  </div><!--end of dashboard-appointments-shell"-->
  <div class="dashboard-consults-product-shell shell-border grey-shell-gradient">
    <div class="flex-center-center">
      <%= link_to user_products_user_path(current_user.id) do %>
        <div class="flex-67"><h5 class="charcoal-text">Class List</h5></div>
      <% end %>
      <div class="flex-33 center-text"><h6><%= @consultations.size %></h6></div>
    </div><!--end of dashboard-product header-items-->
    <div>
      <div id="products" class="dashboard-consults-product-div">
        <% @consultations.limit(3).each do |consultation| %>
          <%= render 'consultations/show_min_products', element: consultation %> <!--c(generic local used in partial) : |consultation|-->
        <% end %><!-- end of current_user.consultations.each do-->
      </div><!-- end of dashboard-consults-product-div -->
    </div>
  </div><!--end of dashboard-consults-product-shell-->
  <div class="dashboard-consults-reviews-shell shell-border grey-shell-gradient">
    <div class="flex-center-center">
      <%= link_to user_reviews_user_path(current_user.id) do %>
        <div class="flex-67"><h5 class="charcoal-text">Recent Reviews</h5></div>
      <% end %><!--end of user_review_path-->
      <div class="flex-33 center-text"><h6><%= @my_reviews_array.size %></h6></div>
    </div><!--end of dashboard-review header-items-->
    <% @consultations.each do |c| %>
      <% c.reviews.sort{|x,y| y <=> x}.take(3).each do |r| %>
      <!--new changes that should be tested-->
        <%= link_to review_path(r.id), class: "no-decor" do %>
          <div class="flex-space-between dash-shell-tab">
            <%= render 'reviews/show_min_reviews', element: r %>
          </div><!--flex-space-between shell-tab-->
        <% end %><!--end of link_to review-->
      <% end %><!--end c.review-->
    <% end %><!--end of @consultion.each-->
  </div><!--end dashboard-consults-reviews-shell-->
  <div class="dashboard-clients-list-shell shell-border grey-shell-gradient">
    <div class="flex-center-center">
      <%= link_to user_clients_user_path(current_user.id) do %>
        <div class="flex-67"><h5 class="charcoal-text">Clients</h5></div>
      <% end %>
      <div class="flex-33 center-text"><h6><%= @my_clients_array.size %></h6></div>
    </div><!--dashboard-client header-items-->
      <div class="dashboard-clients-div">
        <% if @all_clients_array != nil %>
        <% @all_clients_array.each do |client| %> <!-- @my_client_array in pages#dashboard-->
          <%= render 'clients/show_min_clients', element: client %>
        <% end %><!--end of @my_clients_array.each-->
        <% end %>
      </div><!--end of shell-tab flex-space-between dashbaoard-client-list-items-->
    </div><!--end of dashboard-clients-div-->
  </div><!--dashboard-clients-list-shell-->
</div><!--end of grid div-->
<hr>
<!--modals below-->
  <div class="modal fade appointment-mod-style" id="create-new-consultation-class">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center grey-shell-gradient">
          <h3 class="create-appointment-modal-header text-center">Create New Class</h3>
        </div><!--end of header-->
        <div class="modal-body">
          <%= render "consultations/new_consultation_class_form", consultation: @consultation %>
        </div><!--end of modal-body and appointment-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal-->
