<!-- <div class="container"> -->
<div class="content-grid home-area">
  <div class="home-head center-text">
    <h1 class="">Lorem Ipsum</h1>
    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
    <%= render "shared/app_header" %>
  </div>
  <% image_lang_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587894481/edu.jpg" %>
  <div class="home-lang card-home">
    <%= link_to langs_locs_consultations_path do %>
      <div class="card-bg-image" style="background-image: url('<%= image_path image_lang_url %>');"></div>
      <div class="card-body black">
        <h5 class="card-title">LANGUAGE</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
      </div>
    <% end %>
  </div>
  <% image_city_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587894460/city1.jpg" %>
  <div class="home-city card-home">
    <%= link_to locations_consultations_path do %>
      <div class="card-bg-image" style="background-image: url('<%= image_path image_city_url %>');"></div>
      <div class="card-body black">
        <h5 class="card-title">CITY</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
      </div>
    <% end %>
  </div>
  <% image_cat_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587752333/cat2.jpg" %>
  <div class="home-cat card-home">
    <%= link_to langs_types_consultations_path do %>
      <div class="card-bg-image" style="background-image: url('<%= image_path image_cat_url %>');"></div>
      <div class="card-body black">
        <h5 class="card-title">CATEGORY</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
      </div>
    <% end %>
  </div>
</div><!--content-grid home-area-->

<div class="home-style black-background">
  <div class="content-grid home-area">
    <div class="home-head-two center-text">
      <h1 class="white-text">Lorem Ipsum</h1>
      <h2 class="white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
    </div>
    <% image_online_url = "https://res.cloudinary.com/mattg/image/upload/v1587745845/online_zoom.jpg" %>
    <div class="home-online card-hm-drk charcoal-background">
      <%= link_to langs_onlines_consultations_path do %>
        <div class="card-bg-image" style="background-image: url('<%= image_path image_online_url %>');"></div>
        <div class="card-body white-text">
          <h5 class="card-title">ONLINE SERVICES</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="card-footer">
          <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
        </div>
      <% end %>
    </div>
    <% image_hour_url = "https://res.cloudinary.com/mattg/image/upload/v1587751715/hr1.jpg" %>
    <div class="home-hourly card-hm-drk charcoal-background">
      <%= link_to langs_hourlies_consultations_path do %>
        <div class="card-bg-image" style="background-image: url('<%= image_path image_hour_url %>');"></div>
        <div class="card-body white-text">
          <h5 class="card-title">HOURLY SESSIONS</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="card-footer">
          <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
        </div>
      <% end %>
    </div>
    <% image_month_url = "https://res.cloudinary.com/mattg/image/upload/v1587745738/sgl1.jpg" %>
    <div class="home-single card-hm-drk charcoal-background">
      <%= link_to langs_singles_consultations_path do %>
      <div class="card-bg-image" style="background-image: url('<%= image_path image_month_url %>');"></div>
      <div class="card-body white-text">
        <h5 class="card-title">SINGLE SESSIONS</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
      </div>
      <% end %>
    </div>
  </div>
</div><!--end of home-style div color-->

<div class="content-grid home-area">
  <div class="home-head-three center-text">
    <h1 class="">Lorem Ipsum</h1>
    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
  </div>
  <% image_hobby_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1589365636/ex_1_rvlxcg.jpg" %>
  <div class="home-hobby card-home">
    <%= link_to langs_acts_consultations_path do %>
      <div class="card-bg-image" style="background-image: url('<%= image_path image_hobby_url %>');"></div>
      <div class="card-body black">
        <h5 class="card-title">EXPERIENCES</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
      </div>
    <% end %>
  </div>
<!-- eliminated 5 home-ex -->
  <% image_edu_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587925313/edutr1.jpg" %>
  <div class="home-edu card-home">
    <%= link_to langs_edus_consultations_path do %>
      <div class="card-bg-image" style="background-image: url('<%= image_path image_edu_url %>');"></div>
      <div class="card-body black">
        <h5 class="card-title">EDUCATION</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
      </div>
    <% end %>
  </div>
  <% image_train_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587925320/edutr2.jpg" %>
  <div class="home-train card-home">
    <div class="card-bg-image" style="background-image: url('<%= image_path image_train_url %>');"></div>
    <div class="card-body black">
      <h5 class="card-title">TRAINING</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="card-footer">
      <!-- <small class="text-muted padding-5">Last updated 3 mins ago</small> -->
    </div>
  </div>
  <div class="home-base">
    <div class="flex-center-center">
      <h1>hellow from base</h1>
    </div>
    <hr>
    <%= render "shared/app_base" %>
  </div>
</div>
<!-- </div> -->
