<!-- <div class="container"> -->
<div class="content-grid home-area">
  <div class="home-head">
    <h1 class="center-text">Hello All</h1>
  </div>
</div>

<div class="content-grid home-area">
  <% image_lang_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587894481/edu.jpg" %>
  <div class="home-lang card-home">
    <%= link_to languages_consultations_path do %>
    <div class="card-bg-image" style="background-image: url('<%= image_path image_lang_url %>');"></div>
    <div class="card-body">
      <h5 class="card-title padding-5">Langauge</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted padding-5">Last updated 3 mins ago</small>
    </div>
    <% end %>
  </div>
  <% image_city_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587894460/city1.jpg" %>
  <div class="home-city card-home">
    <%= link_to locations_consultations_path do %>
    <div class="card-bg-image" style="background-image: url('<%= image_path image_city_url %>');"></div>
    <div class="card-body">
      <h5 class="card-title padding-5">City</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted padding-5">Last updated 3 mins ago</small>
    </div>
    <% end %>
  </div>
  <% image_cat_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587752333/hobby2.jpg" %>
  <div class="home-cat card-home">
    <%= link_to types_consultations_path do %>
    <div class="card-bg-image" style="background-image: url('<%= image_path image_cat_url %>');"></div>
    <div class="card-body">
      <h5 class="card-title padding-5">Category</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted padding-5">Last updated 3 mins ago</small>
    </div>
    <% end %>
  </div>
</div><!--content-grid home-area-->

<div class="home-style">
  <h1 class="session padding-5 center-text">sessions</h1>
  <div class="content-grid home-area">
    <% image_online_url = "https://res.cloudinary.com/mattg/image/upload/v1587752323/online1.jpg" %>
    <div class="home-online card-home">
      <div class="card-bg-image" style="background-image: url('<%= image_path image_online_url %>');"></div>
      <div class="card-body">
        <h4 class="card-title padding-10">ONLINE SERVICES</h4>
      </div>
      <div class="card-footer">
        <small class="text-muted padding-5">Last updated 3 mins ago</small>
      </div>
    </div>
    <% image_hour_url = "https://res.cloudinary.com/mattg/image/upload/v1587751715/hourly.jpg" %>
    <div class="home-hourly card-home">
      <div class="card-bg-image" style="background-image: url('<%= image_path image_hour_url %>');"></div>
      <div class="card-body">
        <h5 class="card-title padding-5">HOURLY SESSIONS</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted padding-5">Last updated 3 mins ago</small>
      </div>
    </div>
    <% image_month_url = "https://res.cloudinary.com/mattg/image/upload/v1587745738/month.jpg" %>
    <div class="home-monthly card-home">
      <div class="card-bg-image" style="background-image: url('<%= image_path image_month_url %>');"></div>
      <div class="card-body">
        <h5 class="card-title padding-5">MONTHLY SESSIONS</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted padding-5">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div><!--end of home-style div color-->

<div class="content-grid home-area">
  <% image_hobby_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587746400/hobby.jpg" %>
  <div class="home-hobby card-home">
    <div class="card-bg-image" style="background-image: url('<%= image_path image_hobby_url %>');"></div>
    <div class="card-body">
      <h5 class="card-title padding-5">HOBBY</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted padding-5">Last updated 3 mins ago</small>
    </div>
  </div>
<!-- eliminated 5 home-ex -->
  <% image_edu_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587925305/whiteboard_tjewmy.jpg" %>
  <div class="home-edu card-home">
    <div class="card-bg-image" style="background-image: url('<%= image_path image_edu_url %>');"></div>
    <div class="card-body">
      <h5 class="card-title padding-5">Education</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted padding-5">Last updated 3 mins ago</small>
    </div>
  </div>
  <% image_train_url = "https://res.cloudinary.com/mattg/image/upload/c_scale,h_500,q_59/v1587745749/train.jpg" %>
  <div class="home-train card-home">
    <div class="card-bg-image" style="background-image: url('<%= image_path image_train_url %>');"></div>
    <div class="card-body">
      <h5 class="card-title padding-5">Training</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted padding-5">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<!-- </div> -->
