<!-- the other half of the case is here: _index_single_lesson_show.html.erb -->
<!-- however, I think the _index_single_lesson_show  can be deleted -->
<% if @consultation.consult_period == "hourly" %>
  <div class="flex-space-between flex-wrap shell-tab-header padding-3">
    <div class="flex-33 center-text">
      <h5><%= element.lesson_section %></h5>
      <% if policy(@consultation).destroy? %>
        <div>
          <!--delete other links to create clickable divs-->
          <%= link_to lesson_path(element), method: :delete do %>
            <i class="charcoal-text fas fa-trash-alt" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %><!--end of policy-->
    </div>
    <div class="flex-33">
      <h5 class=""><%= element.lesson_start.strftime('%A')%>&nbsp;<%= element.lesson_start.strftime('%m/%d')%></h5>
      <h5 class="navy-text"><%= element.lesson_start.strftime('%I:%M %p') %></h5>
      <h5><%= element.lesson_max_dur %>&nbsp;mins max</h5>
      <h5><%= element.lesson_level %></h5>
      <!--delete other links to create clickable divs-->
      <%= link_to lesson_path(element) do %>
        <i class="fas fa-lg fa-info-circle" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="flex-33 center-text"> <!-- lesson sign-up -->
      <!-- <a href="" data-toggle="modal" data-target="#lesson-form-<%= element.id %>"> -->
      <% if element.appointments.size < element.lesson_capacity %>
        <!-- cant compare 0 : nil -->
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#lesson-form-<%= element.id %>">
            Sign Up!
          </button>
      <% else %>
        <h5 class="red-text">section closed</h5>
      <% end %><!--end of lesson size vs capacity-->
      <!-- </a> -->
    </div><!-- end of lesson sign-up -->
  </div>

<% else %>

  <div class="flex-space-between flex-wrap shell-tab-header padding-3">
    <div class="flex-33 center-text">
      <h5><%= element.lesson_section %></h5>
      <% if policy(@consultation).destroy? %>
        <div>
          <!--delete other links to create clickable divs-->
          <%= link_to lesson_path(element), method: :delete do %>
            <i class="charcoal-text fas fa-trash-alt" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %><!--end of policy-->
    </div>
    <div class="flex-33">
      <h6 class=""><%= element.lesson_start.strftime('%A')%>&nbsp;<%= element.lesson_start.strftime('%m/%d')%></h6>
      <h6 class="navy-text"><%= element.lesson_start.strftime('%I:%M %p') %></h6>
      <h6 class="red-text"><%= element.lesson_end.strftime('%I:%M %p')%></h6>

      <h6><%= element.lesson_level %></h6>
      <!--delete other links to create clickable divs-->
      <%= link_to lesson_path(element) do %>
        <i class="fas fa-lg fa-info-circle" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="flex-33 center-text"> <!-- lesson sign-up -->
      <!-- <a href="" data-toggle="modal" data-target="#lesson-form-<%= element.id %>"> -->
        <% if element.appointments.size < element.lesson_capacity %>
          <!-- cant compare 0 : nil -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#lesson-form-<%= element.id %>">
            Sign Up!
          </button>
            <h6 class="charcoal-text"> seat(s) left: <%= element.lesson_capacity - element.appointments.size %></h6>
        <% else %>
          <h6 class="red-text">section closed</h6>
        <% end %><!--end of lesson size vs capacity-->
      <!-- </a> -->
    </div><!-- end of lesson sign-up -->
  </div>
<% end %>

