<div class="padding-5">
  <h1 class="appoint-show-role-head center-text black"><%= @appointment.consultation.consult_title %></h1>
  <!--start-->
  <% if @appointment.consultation.consult_period == 'hourly'%>
    <div class="flex-center-center">
      <h4 class="flex"><%= @appointment.lesson.lesson_start.strftime('%B %d, %Y @ %I:%M%p') %></h4>
    </div>
    <div class="flex-center-center">
      <h5 class="flex"><%= @appointment.lesson.lesson_max_dur %>&nbsp;minutes</h5>
    </div>
  <% else %>
    <div class="flex-center-center">
      <h6 class="flex navy-text"><%= @appointment.lesson.lesson_start.strftime('%I:%M%p') %></h6>
    </div>
    <div class="flex-center-center">
      <h6 class="flex red-text"><%= @appointment.lesson.lesson_end.strftime('%I:%M%p') %></h6>
    </div>
  <% end %><!--end of if statement-->
  <div class="center-text">
  <% if @appointment.user == current_user || policy(@appointment).destroy? %>
    <!-- need real security here. use policy-->
    <a href="" data-toggle="modal" data-target="#edit-appointment">
      <div class="round-div no-decor"><h5><b>EDIT</b></h5></div>
    </a>
    <% end %><!--end of edit-->
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.primary_lan') %></h4>
    <h5 class="flex-50"><%= @appointment.consultation.consult_language %></h5>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.sec_lang') %></h4>
    <h5 class="flex-50"><%= @appointment.consultation.consult_sec_lang %></h5>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.city') %></h4>
    <h5 class="flex-50"><%= @appointment.consultation.consult_city %></h5>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.env') %></h4>
    <h6 class="flex-50"><%= @appointment.consultation.consult_env %> </h6>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.address') %></h4>
    <h6 class="flex-50"><%= @appointment.consultation.address %> </h6>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.online_meeting_link') %></h4>
    <h6 class="flex-50"><%= @appointment.consultation.consult_zoom_link %> </h6>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.type') %></h4>
    <h6 class="flex-50"><%= @appointment.consultation.consult_type %></h6>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.focus') %></h4>
    <h6 class="flex-50"><%= @appointment.consultation.consult_focus %> </h6>
  </div>
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.term') %></h4>
    <h6 class="flex-50"><%= @appointment.consultation.consult_period %> </h6>
  </div>
  <!--start-->
  <% if @appointment.consultation.consult_period == 'hourly'%>
    <div class="flex-space-between">
      <span class="flex-item-shrink-only-10"></span>
      <h4 class="flex-40">start</h4>
      <h6 class="flex-50"><%= @appointment.lesson.lesson_start.strftime('%B %d, %Y @ %I:%M%p') %></h6>
    </div>
    <div class="flex-space-between">
      <span class="flex-item-shrink-only-10"></span>
      <h4 class="flex-40">maximum duration</h4>
      <h6 class="flex-50"><%= @appointment.lesson.lesson_max_dur %>&nbsp;minutes</h6>
    </div>
  <% else %>
    <div class="flex-space-between">
      <span class="flex-item-shrink-only-10"></span>
      <h4 class="flex-40">start</h4>
      <h6 class="flex-50 navy-text"><%= @appointment.lesson.lesson_start.strftime('%I:%M%p') %></h6>
    </div>
    <div class="flex-space-between">
      <span class="flex-item-shrink-only-10"></span>
      <h4 class="flex-40">end</h4>
      <h6 class="flex-50 red-text"><%= @appointment.lesson.lesson_end.strftime('%I:%M%p') %></h6>
    </div>
  <% end %><!--end of if statement-->
  <div class="flex-space-between">
    <span class="flex-item-shrink-only-10"></span>
    <h4 class="flex-40"><%= t('global.label.rate') %></h4>
    <h6 class="flex-50"><%= number_to_currency(@appointment.consultation.consult_fee, :unit => "₩") %></h6>
  </div>
</div><!--end of padding-->
