<div class="padding-5">
  <h2 class="appoint-show-role-head center-text black"><%= @appointment.consultation.consult_title %></h2>
  <!--start-->
  <% if @appointment.consultation.consult_period == 'hourly - 시간당'%>
    <div class="flex-center-center">
      <h4 class="flex"><%= @appointment.lesson.lesson_start.strftime('%B %d, %Y @ %I:%M%p') %></h4>
    </div>
    <div class="flex-center-center">
      <h5 class="flex"><%= @appointment.lesson.lesson_max_dur %>&nbsp;minutes</h5>
    </div>
  <% else %>
    <div class="flex-center-center">
      <h6 class="flex navy-text"><%= @appointment.lesson.lesson_start.strftime('%I:%M%p') %></h6>
    </div>
    <div class="flex-center-center">
      <h6 class="flex red-text"><%= @appointment.lesson.lesson_end.strftime('%I:%M%p') %></h6>
    </div>
  <% end %><!--end of if statement-->
  <div class="center-text">
  <% if @appointment.user == current_user || policy(@appointment).destroy? %>
    <!-- need real security here. use policy-->
    <a href="" data-toggle="modal" data-target="#edit-appointment">
      <div class="round-div no-decor"><h5><b>EDIT</b></h5></div>
    </a>
    <% end %><!--end of edit-->
  </div>
  <div class="flex-space-between">
    <p class="flex-50"><%= t('global.label.primary_lang') %></p>
    <p class="flex-50"><%= @appointment.consultation.consult_language %></p>
  </div>
  <div class="flex-space-between">
    <p class="flex-50"><%= t('global.label.sec_lang') %></p>
    <p class="flex-50"><%= @appointment.consultation.consult_sec_lang %></p>
  </div>
  <div class="flex-space-between">
    <p class="flex-50"><%= t('global.label.env') %></p>
    <p class="flex-50"><%= @appointment.consultation.consult_env %> </p>
  </div>
  <div class="flex-space-between">
    <p class="flex-50"><%= t('global.label.remote_link') %></p>
    <p class="flex-50"><%= link_to @appointment.lesson.remote_link, "http://#{@appointment.lesson.remote_link}", target: "_blank", rel: "nofollow" %></a></p>
  </div>
  <div class="flex-space-between">
    <p class="flex-50"><%= t('global.label.type') %></p>
    <p class="flex-50"><%= @appointment.consultation.consult_type %></p>
  </div>
  <div class="flex-space-between">
    <p class="flex-50"><%= t('global.label.term') %></p>
    <p class="flex-50"><%= @appointment.consultation.consult_period %> </p>
  </div>
  <div class="flex-space-between">
    <p class="flex-50"><%= t('global.label.rate') %></p>
    <p class="flex-50"><%= number_to_currency(@appointment.consultation.consult_fee, :unit => "₩") %></p>
  </div>
</div><!--end of padding-->
