<!--minified version for dashboard-->
<div class="flex-space-between dash-shell-tab">
  <div class="flex-space-between flex-item-grow-only-auto">
    <!--nested details flex-->
    <!--embedded flex for appointment link items(icon & time/day); they respond as a single div-->
    <!-- ^ this div can grow-->
    <div class="flex-33"><!--icon-cant grow or shrink-->
     <%= link_to user_path(element.consultation.user) do %>
     <% avatar_url = element.consultation.user.photo.url(:bright_face) || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
        <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-sm-profile-image-img icon-shell center-text center-div" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover; height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
      <% end %>
    </div><!--end of NESTED icon flex item div-->
      <div class="flex-33"><!--can grow-->
        <%= link_to appointment_path(element) do %>
          <h6 class="navy-text"><b><%= element.consultation.consult_title %></b></h6>
          <h6 class="charcoal-text"><%= element.consultation.consult_period %></h6>
          <% if element.consultation.consult_period == 'hourly - 시간당' %>
            <h6 class="charcoal-text"><%= element.lesson.lesson_start.strftime('%m/%d') %></h6>
            <h6 class="red-text"><%= element.lesson.lesson_start.strftime('@ %I:%M %p') %></h6>
            <h6 class="red-text"><%= element.lesson.lesson_max_dur %>&nbsp;minutes max</h6>
            <!-- hourly schedules are set by the appointment -->
          <% elsif element.consultation.consult_period == 'flat-rate(k)' %>
            <h6 class="charcoal-text"><%= element.lesson.lesson_start.strftime('%m/%d') %></h6>
            <h6 class="navy-text"><%= element.lesson.lesson_start.strftime('%I:%M %p') %></h6>
            <h6 class="red-text"><%= element.lesson.lesson_end.strftime('%I:%M %p') %></h6>
            <!-- hourly schedules are set by the appointment -->
          <% else %>
            <h6 class="charcoal-text"><%= element.lesson.lesson_start.strftime('start: %I:%M %p') %></h6>
            <h6 class="red-text"><%= element.lesson.lesson_end.strftime('end: %I:%M %p') %></h6>
            <!-- classes are set by the lesson schedule -->
          <% end %><!--end of if statement-->
        <% end %><!--end of appointment link-->
      </div><!--end of the flex-item-grow-only-auto-->
    <div class="flex-33 center-text"><%= link_to appointment_path(element), class: "charcoal-text", method: :delete do %>
      <i class="fas fa-trash-alt" aria-hidden="true"></i><% end %>
    </div><!--end of nested trash can-->
  </div><!--end of NESTED detials flex item div-->
</div><!-- end of shell-tab grey-tab-gradient link div-->
