<div class="content-grid appoint-show-area">
  <div class="appoint-show-links-shell">
    <!--empty-->
  </div><!--end apppointment-show-links-shell-->
    <div class="appoint-show-title-shell center-text">
      <h1><%= link_to @appointment.consultation.consult_title, consultation_path(@appointment.consultation.id) %></h1>
        <ul class="flex">
          <li class="inline-list-item"><h6><%= link_to "dashboard", dashboard_path %></h6></li>
          <li class="inline-list-item"><% if @appointment.user == current_user || policy(@appointment).destroy? %>
            <!-- need real security here. use policy-->
            <a href="" data-toggle="modal" data-target="#edit-appointment">
              <div class="round-div no-decor"><h6><b>edit appointment</b></h6></div>
            </a>
            <% end %>
          </li>
        </ul>
    </div><!--end of appoint-show-title-shell center-text-->
  <div class="appoint-show-instructor-shell shell-border turcoise-shell-gradient" >
    <h3 class="appoint-show-role-head center-text">Instructor</h3>
    <div class="user-profile-image-div">
      <% avatar_url = @appointment.consultation.user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
        <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-large-profile-image-img shell-tab" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
    </div><!--end of user-profile-image-div-->
    <h4 class="center-text"><b><%= @appointment.consultation.user.fname %></b></h4>
    <h6 class="center-text">email:&nbsp;<%= @appointment.consultation.user.email %></h6>
    <h6 class="center-text">mobile:&nbsp;<%= @appointment.consultation.user.user_phone %></h6>
    <h6 class="center-text">kakao:&nbsp;<%= @appointment.consultation.user.user_kakao_id %></h6>
  </div><!--end appointment-show-instructor-shell-->

  <div class="appoint-show-client-shell shell-border green-shell-gradient">
    <h3 class="appoint-show-role-head center-text">Client</h3>
    <div class="user-profile-image-div">
      <% avatar_url = @appointment.user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <div class="user-large-profile-image-img shell-tab" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 180px; width: 180px; border-radius: 50%; background-position: center;"></div>
    </div><!--end of user-profile-image-div find: _usericon.scss-->
    <h4 class="center-text"><b><%= @appointment.pupil %></b></h4>
    <h6 class="center-text">email:&nbsp;<%= @appointment.user.email %></h6>
    <h6 class="center-text">mobile:&nbsp;<%= @appointment.user.user_phone %></h6>
    <h6 class="center-text">kakao:&nbsp;<%= @appointment.user.user_kakao_id %></h6>
  </div><!--end appointment-show-client-shell-->

  <div class="appoint-show-details-shell shell-border grey-shell-gradient">
    <div class="padding-3">
      <h3 class="appoint-show-role-head center-text black">Detail</h3>
      <h5 class="center-text"><%= @appointment.consultation.consult_title %></h5>
      <div class="flex-space-between">
        <h6 class="flex-50">primary language</h6>
        <h6 class="flex-50"><%= @appointment.consultation.consult_language %></h6>
      </div>
      <div class="flex-space-between">
        <h6 class="flex-50">secondary language</h6>
        <h6 class="flex-50"><%= @appointment.consultation.consult_sec_lang %></h6>
      </div>
      <div class="flex-space-between">
        <h6 class="flex-50">city</h6>
        <h6 class="flex-50"><%= @appointment.consultation.consult_city %></h6>
      </div>
      <div class="flex-space-between">
        <h6 class="flex-50">type</h6>
        <h6 class="flex-50"><%= @appointment.consultation.consult_type %></h6>
      </div>
      <div class="flex-space-between">
        <h6 class="flex-50">focus</h6>
        <h6 class="flex-50"><%= @appointment.consultation.consult_focus %> </h6>
      </div>
      <div class="flex-space-between">
        <h6 class="flex-50">period</h6>
        <h6 class="flex-50"><%= @appointment.consultation.consult_period %> </h6>
      </div>
      <div class="flex-space-between">
        <h6 class="flex-50">fee</h6>
        <h6 class="flex-50"><%= number_to_currency(@appointment.consultation.consultfee, :unit => "₩") %></h6>
      </div>
      <!--start-->
      <% if @appointment.consultation.consult_period == 'hourly'%>
        <div class="flex-space-between">
          <h6 class="flex-50">start</h6>
          <h6 class="flex-50"><%= @appointment.lesson.lesson_start.strftime('%B %d, %Y @ %I:%M%p') %></h6>
        </div>
        <div class="flex-space-between">
          <h6 class="flex-50">maximum duration</h6>
          <h6 class="flex-50"><%= @appointment.lesson.lesson_max_dur %>&nbsp;minutes</h6>
        </div>
      <% else %>
        <div class="flex-space-between">
          <h6 class="flex-50">start</h6>
          <h6 class="flex-50 green-text"><%= @appointment.lesson.lesson_start.strftime('%I:%M%p') %></h6>
        </div>
        <div class="flex-space-between">
          <h6 class="flex-50">end</h6>
          <h6 class="flex-50 red-text"><%= @appointment.lesson.lesson_end.strftime('%I:%M%p') %></h6>
        </div>
        <div class="flex-space-between flex-row flex-wrap">
          <h6 class="flex-50">Days</h6>
          <div class="flex-50">
          <% @appointment_dow.each do |dow| %>
          <!-- ^ in controller-->
            <h6><%= dow %></h6>
          <% end %><!--end of DOW array-->
          </div>
        </div>
      <% end %><!--end of if statement-->
    </div><!--end of padding-->
  </div><!--end appointment-show-details-shell-->

</div><!--end content-grid appoint-show-area-->

<!--modal-->
  <div class="modal fade appointment-mod-style" id="edit-appointment">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-appointment-modal-header text-center">edit appointment details</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render template: "appointments/edit", appointment: @appointment  %>
        </div><!--end of modal-body and appointment-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal grid-->
