<div class="content-grid appoint-show-area">
  <div class="appoint-show-links-shell">
    <h1>appointment#show</h1>
    <h6><%= link_to "homepage", root_path %></h6>
    <h6><%= link_to "dashboard", dashboard_path %></h6>
  </div><!--end apppointment-show-links-shell-->
  <!-- <div class="appointment-show-div"> -->
    <div class="appoint-show-instructor-shell">
      <h4 class="appoint-show-instructor-head">Instructor</h4>
      <%= image_tag "user-icon.png", class: "user-dashboard-profile-image-img" %>
      <h6>instructor: <%= @appointment.consultation.user.fname %> </h6>
      <h6>instructor email: <%= @appointment.consultation.user.email %></h6>
    </div><!--end appointment-show-instructor-shell-->
    <div class="appoint-show-client-shell">
      <h4 class="appoint-show-client-head">Client</h4>
      <%= image_tag "user-icon.png", class: "user-dashboard-profile-image-img" %>
      <h6>client: <%= @appointment.pupil %></h6>
      <h6>client contact: <%= @appointment.user.email %></h6>
    </div><!--end appointment-show-client-shell-->
    <div class="appoint-show-details-shell">
      <h6>location: <%= @appointment.location %></h6>
      <h6>start date: <%= @appointment.start %></h6>
      <h6>end date: <%= @appointment.end %></h6>
    </div><!--end appointment-show-details-shell-->
  <!-- </div>end appointment-show-div -->
</div><!--end content-grid appoint-show-area-->
