<div class="content-grid appoint-show-area">
  <div class="element-ashow-title flex-center-column center-text shell-tab-header">
    <p class=""><%= @appointment.lesson.lesson_start.strftime('%B %d, %Y @ %I:%M%p') %></p>
    <h3><%= link_to @appointment.consultation.consult_title, consultation_path(@appointment.consultation.id) %></h3>
    <div class="flex">
      <% avatar_url = @appointment.consultation.user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
      <%= link_to user_path(@appointment.consultation.user) do %>
        <% if @appointment.consultation.user.photo.present? %>
          <div class="user-sm-profile-image-img icon-shell shell-tab" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"></div>
        <% else %>
          <div class="user-sm-profile-image-img icon-shell shell-tab-borderless user-profile-initial" style="background-color: <%= @appointment.consultation.user.color %>;background-size: cover;  height: 45px; width: 45px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-40 center-text"><%= @appointment.consultation.user.first_in(@appointment.consultation.user)%></p></div>
        <% end %>
      <% end %>
        <div class="">
          <p>hosted by:<br><%= @appointment.consultation.user.fname %></p>
        </div>
    </div><!--end of embedded flex-->
    <!--empty-->
  </div><!--end of element-ashow-title flex-center-column center-text-->
  <div class="element-ashow-links center-text">
    <!-- add links-->
  </div><!--end of element-ashow-links center-text-->
  <div class="element-ashow-inst_client shell-border flex-space-between grey-shell-gradient">
    <div class="flex-50">
      <h1 class="appoint-show-role-head center-text">Instructor</h1>
      <div class="user-profile-image-div">
        <% avatar_url = @appointment.consultation.user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
          <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
        <%= link_to user_path(@appointment.consultation.user) do %>
          <% if @appointment.consultation.user.photo.present? %>
            <div class="user-md-profile-image-img icon-shell shell-tab" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 100px; width: 100px; border-radius: 50%; background-position: center;"></div>
          <% else %>
            <div class="user-md-profile-image-img icon-shell shell-tab-borderless user-profile-initial" style="background-color: <%= @appointment.consultation.user.color %>;background-size: cover;  height: 100px; width: 100px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-100 center-text"><%= @appointment.consultation.user.first_in(@appointment.consultation.user)%></p></div>
          <% end %>
        <% end %>
      </div><!--end of user-profile-image-div-->
      <div class="center-text">
        <h4 class=""><b><%= @appointment.consultation.user.fname %></b></h4>
      </div><!--end of center-text-->
    </div>
    <div class="flex-50">
      <h1 class="appoint-show-role-head center-text">Client</h1>
      <div class="user-profile-image-div">
        <% avatar_url = @appointment.user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
            <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
          <% if @appointment.user.photo.present? %>
            <div class="user-md-profile-image-img icon-shell shell-tab" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 100px; width: 100px; border-radius: 50%; background-position: center;"></div>
          <% else %>
            <div class="user-md-profile-image-img icon-shell shell-tab-borderless user-profile-initial" style="background-color: <%= @appointment.user.color %>;background-size: cover;  height: 100px; width: 100px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-100 center-text"><%= @appointment.user.first_in(@appointment.user)%></p></div>
          <% end %>
      </div><!--end of user-profile-image-div find: _usericon.scss-->
      <div class="center-text">
        <h4 class=""><b><%= @appointment.pupil %></b></h4>
      </div><!--end center-text-->
    </div>
  </div><!--end element-ashow-inst_client-->
  <div class="element-ashow-map shell-tab-header">
    <div class="flex-space-between">
      <p class="flex-50"><%= t('global.label.city') %></p>
      <p class="flex-50"><%= @appointment.consultation.consult_city %></p>
    </div>
    <div class="flex-space-between">
      <p class="flex-50"><%= t('global.label.address') %></p>
      <p class="flex-50"><%= @appointment.consultation.address %> </p>
    </div>
        <div style="background-color: white;">
      <!-- Dropdown appearing on all devices -->
      <% if @markers !=nil %>
      <div id="map"
     style="width: 100%;
     height: 300px; border: 2px solid #F4F4F4;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     <% end %>
    </div>
  </div><!--end of map area-->
  <div class="element-ashow-epanel shell-border-dark black-background">
    <%= render "shared/menu_panel" %>
  </div>
  <div class="element-ashow-det shell-border grey-shell-gradient">
    <%= render "appointments/app_show_details" %>
  </div><!--end element-ashow-det-->
  <div class="element-ashow-attend shell-border">
    <h3 class="center-text">Contact Info</h3>
    <div class="flex-space-between padding-5">
      <div class="flex-33">
        <%= @appointment.consultation.user.fname %>
      </div>
      <div class="flex-67">
        <p class=""><%= @appointment.consultation.user.email %></p>
        <p class=""><%= @appointment.consultation.user.user_phone %></p>
        <p class="">kakao:&nbsp;<%= @appointment.consultation.user.user_kakao_id %></p>
      </div>
    </div><!--flex-space-between-->
    <hr>
    <div class="flex-space-between padding-5">
      <div class="flex-33">
        <%= @appointment.user.fname %>
      </div>
      <div class="flex-67">
        <p class=""><%= @appointment.user.email %></p>
        <p class=""><%= @appointment.user.user_phone %></p>
        <p class="">kakao:&nbsp;<%= @appointment.user.user_kakao_id %></p>
      </div>
    </div><!--flex-space-between-->
  </div>
  <div class="element-ashow-base">
    <hr>
    <%= render "shared/app_base" %>
  </div>
</div><!--end content-grid appoint-show-area-->

<!--modal-->
  <div class="modal fade appointment-mod-style" id="edit-appointment">
    <div class="modal-dialog" role="document"><!--aligns the modal document-->
      <div class="modal-content">
        <div class="modal-header modal-head-grad flex flex-center-center">
          <h3 class="create-appointment-modal-header text-center">edit appointment details</h3>
        </div><!--end of header-->
        <div class="modal-body flex flex-center-center">
          <%= render template: "appointments/edit", appointment: @appointment  %>
        </div><!--end of modal-body and appointment-show-form-div-->
      </div><!--end of modal-content-->
    </div><!--end of modal-dialog-->
  </div><!--end of modal grid-->
