<div class="content-grid element-index-area padding">
  <div class="element-index-panel shell-border-dark black-background white-text">
    <%= render "shared/menu_panel" %>
  </div>
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div>
  <div class="element-index-shell shell-border grey-shell-gradient">
<div class="flex-center-column padding">
    <div class="flex-20 user-profile-image-div center-text">
      <% avatar_url = @review.user.photo.url || avatar_url = "https://res.cloudinary.com/mattg/image/upload/v1494130069/user-icon.png" %>
      <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
      <% if @review.user.photo.present? %>
        <div class="user-large-profile-image-img icon-shell" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"></div>
      <% else %>
        <div class="user-large-profile-image-img icon-shell user-profile-initial" style="background-color: <%= @review.user.color %>; background-size: cover;  height: 60px; width: 60px; border-radius: 50%; background-position: center;"><p class="white-text user-initial-size-60 center-text"><%= @review.user.first_in(@review.user)%></p></div>
      <% end %>
    </div><!--end of icon-div-->
    <div class="flex-80 center-div center-text">
      <div><h4><b><%= @review.consultation.consult_title %></b></h4></div>
      <div class=""><h6><b>published&nbsp;by&nbsp;<%= @review.user.fname %></b></h6></div>
      <div class= "">
        <% @review.ravg.to_i.times do %>
          <i class="fa fa-star yellow-star"></i><!--reference 'components/_reviewstars.scss'-->
        <% end %><!--end of review.star-->
        <% if @review.ravg >= (@review.ravg.floor + 0.5) && (@review.ravg < @review.ravg.floor + 1) && @review.ravg.to_i != 5 %>
            <i class="fas fa-star-half-alt half-star"></i>
            <% (4 - @review.ravg.to_i).times do %>
            <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
           <% end %><!--end of 4-r.star-->
        <% else %><!--if @review.ravg >= -->
          <% (5 - @review.ravg.to_i).times do %>
            <i class="fa fa-star grey-star sm-star"></i><!--reference 'components/_reviewstars.scss'-->
          <% end %><!--end of 5-r.star-->
        <% end %><!--if @review.ravg >= -->
      </div><!--end of ""-->
      <div><h6 style="color: red;"><%= @review.created_at.strftime("%m/%d/%Y @ %I:%M %p") %></h6></div>
</div><!--end of flex-->
      <hr>
    </div>
    <div class="flex-space-between">
      <p class="flex-10"></p>
      <p class="flex-80"><%= @review.comment %><!--limit size--></p>
      <p class="flex-10"></p>
    </div>
  </div><!--end of user shell-tab-->
  <div class="element-index-base">
    <%= render "shared/app_base" %>
  </div>
</div><!-- end of element-index-shell shell-border grey-shell-gradient-->
